

 <!--new-->
<div class="container-fluid">
  <br>
  <div class="row">
    <div class=" col-md-10 offset-md-1 ">
      <div class="row">
        <div class="col-md-4">
          <div class="card1">
            <img src="./assets/pending.png" alt="">
            <p class="card-text"> Budget Amount Remaining <br>{{rqstSubmitted}} </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card1 ">
            <img src="./assets/validation.png " alt="">
            <p class="card-text"> Budget Amount Approved <br>{{rqstApproved}} </p>
          </div>
        </div>
        <div class="col-md-4 ">
          <div class="card1 ">
            <img src="./assets/rejected.png " alt=" ">
            <p class="card-text"> Budget Amount Utilised <br>{{rqstRejected}} </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
<!--  <div class="row" style="height: 40px;">-->
<!--    <div class=" col-md-5 offset-md-1 ">-->
<!--      <p class="h">Capex Summary</p>-->
<!--    </div>-->
<!--    <div class=" col-md-5 offset-md-1 ">-->
<!--      <button  class="go-to-button" (click)="gotoBudget()">New Capex &nbsp;<i class="fa fa-arrow-right" aria-hidden="true"-->
<!--      ></i></button>-->
<!--    </div>-->
<!--  </div>-->
  <div class="row">

    <div class=" col-md-10 offset-md-1 ">
      <div class="d-flex" style="justify-content: space-between">
        <p class="h">Capex Summary</p>
        <button  class="go-to-button" (click)="gotoBudget()">New Capex &nbsp;<i class="fa fa-arrow-right" aria-hidden="true"
        ></i></button>
      </div>
      <ag-grid-angular style="height: 320px;width: auto;" class="ag-theme-balham"
      [scrollbarWidth]="8"
      [headerHeight]="30"
      [rowHeight]="50"
      [rowData]="rowData" [columnDefs]="columnDefs"
      (cellClicked)="onGridCellClicked($event)"
      enableCellTextSelection=true >
      </ag-grid-angular>

    </div>

  </div>


</div>
