<div class="container-md plan-details-wrapper pb-5">
  <div class="row">
    <div class="plan-main-info card p-4 mt-4 mb-2">
      <div class="row">
        <div class="col-sm-9">
          <div class="plan-logo mb-2"><img src="./assets/humana-logo.png" alt="Alternate Text" /></div>
          <h1>Humana Gold Plus H1036-068 (HMO)</h1>
          <p><strong>Plan type:</strong><span>Medicare Advantage with drug coverage</span></p>
          <p><strong>Plan id:</strong><span>H1036-068-0</span></p>
          <div class="row">
            <div class="col-12">
              <p>
                <a href="#" class="me-2">Plan website</a>
                <strong class="me-2">Non-members:</strong>
                <a href="tel:18008332364">1-800-833-2364</a>
                <strong class="me-2">Members:</strong><a href="tel:18004574708">1-800-457-4708</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-3 d-flex align-items-center ">
          <div class="plan-detail-action d-flex flex-column justify-content-center w-100">
            <a class="btn btn-secondary py-0">Print</a>
            <a class="btn btn-primary py-0">Enroll</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="plan-cost-info card p-4 mt-4 mb-2 text-center d-flex felx-column justify-content-center">
      <h2 class="mt-2">The payable amount</h2>
      <div class="row">
        <div class="col-sm-3">
          <p>Total monthly premium</p>
          <h3>$0.00</h3>
        </div>
        <div class="col-sm-3">
          <p>Health deductible</p>
          <h3>$0.00</h3>
        </div>
        <div class="col-sm-3">
          <p>Primary doctor</p>
          <h3>$0.00</h3>
        </div>
        <div class="col-sm-3">
          <p>2023 estimated total drug costs (lowest cost retail pharmacy)</p>
          <h3>$5,513.30<span>Covers 1 of 1 drug</span></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <mat-icon>search</mat-icon>
  </div>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        This is the expansion title
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>This is the primary content of the panel.</p>
  </mat-expansion-panel>
</div>
