.plan-details-wrapper strong {
  font-weight: 500;
}

.plan-details-wrapper .plan-main-info a {
  color: #252525;
  margin-right: 10px;
}

.plan-details-wrapper .card {
  border-radius: 2px;
  box-shadow: 0 0 0 0 rgba(0,0,0,0.14), 0 2px 1px -3px rgba(0,0,0,0.12), 0 3px 8px 0 rgba(0,0,0,0.2);
}

.plan-logo img {
  max-width: 100px;
  width: auto;
}

.plan-detail-action {
  gap: 15px;
}

  .plan-detail-action a {
    border-radius: 2px;
    width: 100%;
    color: #fff !important;
    font-weight: 400 !important;
    height: 52px;
    line-height: 52px;
  }

    .plan-detail-action a.btn-primary {
      background-color: #485785;
      border-color: #485785;
    }

.plan-details-wrapper h1 {
  font-weight: 300;
}

.plan-cost-info {
  background-color: #485785;
}

  .plan-cost-info h2 {
    font-size: 42px;
    margin-bottom: 30px;
    font-weight: 400;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    padding-bottom: 30px;
  }

  .plan-cost-info h3 {
    font-size: 36px;
    color: #fff;
    font-weight: 300;
  }

  .plan-cost-info p {
    margin-bottom: 15px;
    color: #fff;
  }

  .plan-cost-info h3 span {
    font-size: 16px;
    margin-top: 5px;
    display: block;
    font-weight: normal
  }

.mat-accordion .mat-expansion-panel:first-of-type {
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}

.mat-accordion .mat-expansion-panel:last-of-type {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.mat-expansion-panel {
  border-radius: 2px;
  box-shadow: none;
  margin-bottom: 15px;
  border: 1px solid #c7d5ff;
}

.mat-expansion-panel {
  background: #fff;
}

.mat-expansion-panel-header-title {
  font-weight: 500;
  font-size: 20px;
}

.plan-details-accordion table {
  border: 1px solid #c7d5ff;
  width: 100%;
  table-layout: fixed;
}

.plan-details-accordion td, .plan-details-accordion th {
  padding: 15px;
  border-bottom: 1px solid #c7d5ff;
  font-size: 16px;
}

.plan-details-accordion th {
  background: aliceblue;
  font-weight: 500;
  line-height: 24px;
}

/deep/.plan-details-accordion .mat-expansion-panel-body {
  padding: 15px 24px 16px;
  border-top: 1px solid #c7d5ff;
}

.plan-details-accordion h3 {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 10px;
}

.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]) {
  background: rgb(248 250 255);
}

.rating-stars mat-icon {
  color: #f9c800;
}

.plan-details-accordion p {
  font-size: 16px;
}

.star-rating-container p {
  margin-bottom: 0;
}
.limits-btn {
    border: 0;
    padding: 0;
    background: transparent;
    font-size: 16px;
    font-weight: 400;
    color: #485785;
    display: flex;
}
.limits-btn mat-icon{
    font-size: 21px;
}
.pd-pharmacy button{
  border-radius: 2px;
}
.back-to-plans{
    border-radius: 2px;
    width: auto;
}
.back-to-plans mat-icon{
    font-size: 17px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.star-rating {
  font-size: 24px;
}

.star-rating span {
  display: inline-block;
  width: 24px;
  height: 20px;
  background-color: transparent;
  background-image: url('../../../assets/empty.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.star-rating span.filled {
  background-image: url('../../../assets/full.png');
}

.star-rating span.half-filled {
  background-image: url('../../../assets/half.png');
}
