<div class="container-md plan-details-wrapper pb-5">
  <div class="row justify-content-end mt-3 mb-2">
    <button mat-raised-button color="primary" class="back-to-plans d-inline-flex align-items-center" (click)="closePlanDetails()"><mat-icon>arrow_back_ios</mat-icon>Back to all plans</button>
  </div>
  <div class="row">
    <div class="plan-main-info card p-4 mt-2 mb-2">
      <div class="row">
        <div class="col-sm-9">
          <div class="plan-logo mb-2">
            <img src="data:image/png;base64,{{logo}}" alt="" style="width: 90%">
          </div>
          <h1>{{planDetail?.planName}}</h1>
          <p><strong>Plan type:</strong><span>{{planType}}</span></p>
          <p><strong>Plan id:</strong><span>{{planIdDisplay}}</span></p>
          <!--<div class="row">
            <div class="col-12">
              <p>
                <a href="#" class="me-2">Plan website</a>
                <strong class="me-2">Non-members:</strong>
                <a href="tel:18008332364">1-800-833-2364</a>
                <strong class="me-2">Members:</strong><a href="tel:18004574708">1-800-457-4708</a>
              </p>
            </div>
          </div>-->
        </div>
        <div class="col-sm-3 d-flex align-items-center ">
          <div class="plan-detail-action d-flex flex-column justify-content-center w-100">
            <a href="#" class="btn btn-secondary py-0">Print</a>
            <a href="#" class="btn btn-primary py-0">Enroll</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="plan-cost-info card p-4 mt-4 mb-2 text-center d-flex felx-column justify-content-center">
      <h2 class="mt-2">The payable amount</h2>
      <div class="row">
        <div class="col-sm-4">
          <p>Total monthly premium</p>
          <h3>${{planDetail?.monthlypremium}}</h3>
        </div>
        <div class="col-sm-4">
          <p>Health deductible</p>
          <h3>${{planDetail?.monthlypremium}}</h3>
        </div>
        <div class="col-sm-4">
          <p>Primary doctor</p>
          <h3>$0.00</h3>
        </div>
      </div>
    </div>
  </div>

      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false" *ngFor="let ds of plan">
        <mat-expansion-panel-header>
          <mat-panel-title >
            {{ds.category}}
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="col-12">
          <table class="table-striped table">
            <tr *ngFor="let value of ds.attribute">
              <th colspan="1">{{value.attributeName}}</th>
              <td colspan="2">{{value.displayValue}}</td>
            </tr>           
          </table>
        </div>
      </mat-expansion-panel>
    
</div>
