<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-md-2 offset-md-3">
      <div class="card">
        <div class="row" >
          <div class="col-md-12">
            <p class="card-text"> Total Pending <br> {{rqstSubmitted}} </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <div class="row" >
          <div class="col-md-12">
            <p class="card-text"> Total Approved <br> {{rqstApproved}} </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <div class="row" >
          <div class="col-md-12">
            <p class="card-text"> Total Rejected <br>{{rqstRejected}} </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="height: 40px"></div>
  <div class="row">
    <div class="col-md-12">
      <mat-divider></mat-divider>
    </div>
  </div>
  <br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-10" align="left">
            <h1 class="display-4 page-header capex-headings"><span class="screen-headings">Request Submitted</span></h1>
          </div>
          <div class="col-md-2" align="right">
            <button mat-raised-button class="go-to-button" (click)="gotoRequests()">Goto Requests &nbsp;<i class="fa fa-arrow-right" aria-hidden="true"
            ></i></button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <ag-grid-angular style="height: 400px" class="ag-theme-balham"
                             [scrollbarWidth]="8"
                             [headerHeight]="50"
                             [rowHeight]="50"
                             (cellClicked)="onGridCellClicked($event)"
                             [rowData]="rowData" [columnDefs]="columnDefs"
                             enableCellTextSelection=true>
            </ag-grid-angular>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="container-fluid">
    <br>
    <div class="row">
        <div class=" col-md-10 offset-md-1 ">
            <div class="row">
                <div class="col-md-4">
                    <div class="card1" routerLink="all-budgets">
                        <img src="./assets/pending.png" alt="">
                        <p class=" card-text "> Total Pending <br> {{rqstSubmitted}} </p>

                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="card1 " routerLink="all-budgets">
                        <img src="./assets/validation.png " alt="">
                        <p class=" card-text "> Total Approved <br> {{rqstApproved}} </p>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="card1 " routerLink="all-budgets">
                        <img src="./assets/rejected.png " alt=" ">
                        <p class="card-text "> Total Rejected <br>{{rqstRejected}} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class=" col-md-5 offset-md-1 ">
            <p class="h">Request Submitted</p>
        </div>
        <div class=" col-md-5 offset-md-1 ">
            <button mat-raised-button class="btn " (click)="gotoRequests() ">Goto Requests &nbsp;<i class="fa fa-arrow-right " aria-hidden="true "></i></button>
        </div>
    </div>
    <div class="row">

        <div class=" col-md-10 offset-md-1 ">

            <ag-grid-angular style="height: 400px;box-shadow: 2px 12px 11px 4px rgb(0 0 0 / 20%)" class="ag-theme-balham" [scrollbarWidth]="8" [headerHeight]="35" [rowHeight]="50" (cellClicked)="onGridCellClicked($event)" [rowData]="rowData" [columnDefs]="columnDefs"
                enableCellTextSelection=true>
            </ag-grid-angular>
        </div>

    </div>


</div>
