<div class="row align-items-center" *ngIf="data.code !== 0">
  <div class="col-md-2">
    <img src="assets/error.jpg" height="100" alt="">
  </div>
  <div class="col-md-9 offset-md-1">
    <p style="font-size: 18px;">{{data.title}}</p>
    <p style="font-size: 15px;">ERROR_CODE: {{data.code}}</p>
    <p style="font-size: 13px;">{{data.message}}</p>
  </div>
</div>

<div class="row" *ngIf="data.code === 0">
  <div class="col">
    <p style="font-size: 18px;">{{data.title}}</p>
    <p style="font-size: 13px;">{{data.message}}</p>
  </div>
</div>

<div class="row">
  <div class="col-12 text-end">
    <button mat-button color="primary" mat-dialog-close>Close</button>
  </div>
</div>

