<div class="container">
  <div class="d-flex">
    <div class="col-12 pt-4 px-3">
      <div class="d-flex">
        <div class="backto-drugs-page">
          <p routerLink="/add-drugs">
            <mat-icon>chevron_left</mat-icon>
            Back to Drug Selection
          </p>
        </div>
        <div class="p-2">
          <!--      <button mat-raised-button style="background-color: #4b8bb2" >Skip adding pharmacies</button>-->
        </div>
      </div>
      <div class="d-flex p-2 justify-content-end">
        <!--      <p><mat-icon style="float: left;margin-top: -2px;">chevron_left</mat-icon> Back to Drug Selection</p>-->
      </div>
      <!--      <app-time-line [curentWorkStageId]="3"></app-time-line>-->
      <div class="add-pharmacy-content-wrapper">
        <div class="pharmacy-head-section container-box">
          <div class="mb-3">
            <h3>Choose upto 5 Pharmacies</h3>
            <p class="fw-light">Choosing a nearby pharmacy helps in significantly reducing your costs.</p>
          </div>
          <div class="d-flex choose-ph-items">
            <div class="ph-cols">
              <p>Enter your complete address or ZIP code</p>
              <input type="text" [(ngModel)]='zipcode'>
            </div>
            <div class="ph-cols">
              <p>Enter your pharmacy name (Optional)</p>
              <input type="text" [(ngModel)]='pharmName'>
            </div>
            <div class="d-flex align-items-end find-pharmacy-btn">
              <button mat-raised-button color="primary" (click)="findPharmacy('0',5)">Find Pharmacy</button>
            </div>
            <div class="d-flex filter-by-col flex-column">
              <div class="d-flex">
                <p>Filter by</p>
              </div>
              <div>
                <mat-select placeholder="Select" [(ngModel)]="radius_miles" (selectionChange)="distanceChange()">
                  <mat-option value="5">
                    Closest 5
                  </mat-option>
                  <mat-option value="1">
                    Distance: 1 mile
                  </mat-option>
                  <mat-option value="5">
                    Distance: 5 miles
                  </mat-option>
                  <mat-option value="10">
                    Distance: 10 miles
                  </mat-option>
                  <mat-option value="25">
                    Distance: 25 miles
                  </mat-option>
                  <mat-option value="50">
                    Distance: 50 miles
                  </mat-option>
                  <mat-option value="100">
                    Distance: 100 miles
                  </mat-option>
                </mat-select>
              </div>
            </div>
          </div>
        </div>
        
        
        
        <div class="pharmacy-second-section">
          <div>
            <div class="ph-items-checks-wrapper container-box">
              <div class="d-flex include-mail-pharmacy">
                <div class="d-flex sub-head flex-column">
                  <div class="w-100">
                    <strong>Include Mail Order Pharmacy </strong>&nbsp;
                    <input class="form-check-input" type="checkbox" [(ngModel)]="mailchecked"
                           style="height: 15px;width: 15px" value="" id="flexCheckChecked" (change)="mailOrder($event)">
                  </div>
                  <p class="mb-0 mt-1">Add both mail-order and retail pharmacies to save cost.</p>
                </div>
              </div>
              <div class="card pharmacy-list-item d-flex flex-row align-items-center" *ngFor="let pharm of pharmacies; index as i">
                <div class="pharmacy-list-item-left pe-2">
                  <div class="title">
                    <h3 class="mb-2">{{i+1}}. {{pharm.name}}</h3>
                  </div>
                  <div class="card-body py-0">
                    <p class="mb-3">
                      {{pharm.street}},{{pharm.city}}
                      {{pharm.state}},{{pharm.zipcode}}  <br>
                      {{pharm.phone}}
                    </p>
                    <p>Distance: {{pharm.distance_miles}} miles</p>
                  </div>
                </div>
                <div class="d-flex justify-content-end add-pharmacy-checkbox ms-auto mb-2">
                  Add Pharmacy
                  <input class="form-check-input" type="checkbox" value="" [(ngModel)]="pharm.checked" id="flexCheckChecked" (change)="check($event,pharm)">
                </div>
              </div>
              <mat-paginator [length]="page"
                             [pageSize]="5"
                             [pageSizeOptions]="[5, 10]"
                             (page)="onPageChange($event)"
                             showFirstLastButtons
                             aria-label="Select page">
              </mat-paginator>

            </div>
          </div>


          <div>
            <img src="../../../assets/pharmacy.jpg" class="map-img sticky-top" alt="">
          </div>


        </div>
      </div>


      <div class="d-flex p-0 custom-table-wrapper" *ngIf="rowData.length !==0">
        <ag-grid-angular style="width: 100%;min-height: 100px" class="ag-theme-alpine"
                         [scrollbarWidth]="8" [headerHeight]="35"
                         rowSelection="multiple"
                         [rowData]="rowData"
                         [columnDefs]="columnDefs" (cellClicked)="onGridCellClicked($event)"
                         (gridReady)="onGridReady($event)" domLayout='autoHeight'>
        </ag-grid-angular>
      </div>
      <div class="col-12">
        <div class="d-flex justify-content-end pharmacy-see-plans">
          <button mat-raised-button color="primary" class="btn" (click)="nav()">See Plans</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- bottom cards -->

<div class="sticky-content-wrapper" *ngIf="rowData.length !==0 && !ribbonShow">
  <div class="sticky-content-info d-flex justify-content-center">
    <ul>
      <li *ngFor="let pharm of rowData">
        <div class="sticky-c-item">
          <h4 class="m-0">{{pharm.name}}</h4>
          <span *ngIf="pharm.distance_miles">Distance: {{pharm.distance_miles}} Miles</span>

          <div class="s-c-close">
            <mat-icon (click)="delete(pharm)">close</mat-icon>
            <!--            <i class="material-icons">delete</i>-->
          </div>
        </div>
      </li>

    </ul>
    <button mat-raised-button class="btn-done m-0 p-0" color="primary" (click)="nav()">See Plans</button>
  </div>
</div>
