.card{
  height: 30vh;
  margin-bottom: 10px;
}
.tittle input{
  width: 16px;
  height: 20px;
  margin-left:4px
}
.sub-head input{
  width: 10%;
  height: 15px;
}
.map-img {
  margin-top: 17%;
  border-radius: 6px;
}
.map-img{
    
}

.side-img{
  background-color:#4b8bb2 ;
  /*height: calc(100vh - 77px);*/
  position: relative;
  min-height: 100vh;
}
.side-img img{
  width: 92%;
}
.container{
  padding: 0;
  margin: 0;
}
p{
  font-size: 15px;
}
h3 {
  font-weight: 500;
  border-bottom: solid 1px #ddd;
  font-size: 15px
}
.add-pharmacy-content-wrapper {
  border: solid 1px #ddd;
  border-radius: 2px;
  background-color: #fff;
}
button{
    border-radius: 2px;
    font-weight: 400;
    font-size: 15px;
    border-radius: 3px;
    background-color: #005875;
    height: 80px;
    width: 86px;
  }
  button:hover {
    color: #005875;
    background-color: #fff;
    height: 80px;
  }
.add-pharmacy-checkbox {
  border-radius: 2px;
  border: #B8C0D4 solid 1px;
  padding: 5px 10px;
  max-width: 140px;
  display: flex;
  gap: 5px;
  align-items: center;
  background: #e0f3ff;
  font-size: 13px;
  font-weight: 500;
}
.add-pharmacy-checkbox input{
    margin-top: 0;
}
.pharmacy-list-item.card {
  height: auto;
  border-radius: 2px;
  background-color: #fcfcfc;
}
.pharmacy-list-item p{
    font-size: 13px;
}
.sub-head strong{
    font-weight: 600;
    font-size: 17px;
}
.sub-head + p{
    font-weight: 300;
}
.pharmacy-list-item-left{
    width: calc(100% - 135px);
}
.map-img{
    height: auto !important;
    margin-top: 0 !important;
    max-width: 100%;
    z-index: 10;
}
.include-mail-pharmacy {
    border-top: 1px dashed #ddd;
}
/deep/.ag-theme-alpine .ag-ltr .ag-cell{
    line-height: 24px !important;
}
/deep/html.cdk-global-scrollblock{
    top: 0 !important
}
.sticky-content-wrapper {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 99;
  background: #D0E7EF;
  width: 100%;
  padding: 15px;
  box-shadow: 0 -3px 11px rgba(0, 0, 0, .2);
}
.sticky-content-wrapper ul{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    list-style: none;
    grid-gap: 10px;
    padding: 0;
    margin: 0;
    align-items: stretch;
    width: calc(100% - 100px);
}
.sticky-c-item {
    border: 2px solid rgba(255, 255, 255, .3);
    border-radius: 3px;
    padding: 15px 20px 15px 10px;
    position: relative;
    min-height: 80px;
    color:rgb(0, 0, 0);
    background-color: white;
    font-size:14px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    box-shadow: 6px 6px 15px rgb(0 0 0 / 0.3);
}
.sticky-c-item.empty {
  border: 2px solid rgba(255, 255, 255, .1);
}
.sticky-c-item h4{
  color: #000;
  font-size: 16px;
  font-weight: bold;
}
.s-c-close mat-icon{
    color: #005875;
    position: absolute;
    right: 5px;
    top:7px;
    cursor: pointer;
    font-size: 19px;
    width: 18px;
    height: 18px;
}
.btn-done{
    margin-left: 15px;
    font-weight: 500;
    min-width: 80px;

}
