<div class="container">
  <div class="d-flex">
    <div class="col-3 side-img">
      <img src="../../../assets/sidepic.png" alt="">
    </div>
    <div class="col-9 pt-4 px-3">
      <div class="d-flex">
        <div class="p-2" style="margin-right: auto" >
          <p routerLink="/add-drugs">
            <mat-icon style="float: left;margin-top: -2px;">chevron_left</mat-icon>
            Back to Drug Selection
          </p>
        </div>
        <div class="p-2">
          <!--      <button mat-raised-button style="background-color: #4b8bb2" >Skip adding pharmacies</button>-->
        </div>
      </div>
      <div class="d-flex p-2 justify-content-end">
        <!--      <p><mat-icon style="float: left;margin-top: -2px;">chevron_left</mat-icon> Back to Drug Selection</p>-->
      </div>
<!--      <app-time-line [curentWorkStageId]="3"></app-time-line>-->
      <div class="add-pharmacy-content-wrapper">
      <div class="mb-3">
        <h3 class="py-1 px-3">Choose upto 5 Pharmacies</h3>
        <p class="fw-light px-3">Choosing a nearby pharmacy helps in significantly reducing your costs.</p>
      </div>
      <div class="d-flex">
        <div class="col-5 px-3">
          <p>Enter your complete address or ZIP code</p>
          <input type="text" [(ngModel)]= 'zipcode'>
        </div>
        <div class="col-5 px-3">
          <p>Enter your pharmacy name (Optional)</p>
          <input type="text" [(ngModel)]= 'pharmName'>
        </div>
        <div class="col-2 px-3 d-flex align-items-end">
          <button mat-raised-button color="primary" (click)="findPharmacy('0')">Find Pharmacy</button>
        </div>
      </div>
      <div class="d-flex px-3 mt-2">
        <div class="col-1 d-flex align-items-center">
          <p class="mb-0">Filter by</p>
        </div>
        <div class="col-3 p-2">
          <mat-select placeholder="Select" [(ngModel)]="radius_miles">
            <mat-option value="5">
              Closest 5
            </mat-option>
            <mat-option value="1">
              Distance: 1 mile
            </mat-option>
            <mat-option value="5">
              Distance: 5 miles
            </mat-option>
            <mat-option value="10">
              Distance: 10 miles
            </mat-option>
            <mat-option value="25">
              Distance: 25 miles
            </mat-option>
            <mat-option value="50">
              Distance: 50 miles
            </mat-option>
            <mat-option value="100">
              Distance: 100 miles
            </mat-option>
          </mat-select>
        </div>
      </div>

      <div class="d-flex p-2">
        <div class="col-6">
          <div class="d-flex sub-head p-2" style="font-size: 15px;">
            Include Mail Order Pharmacy &nbsp;
            <input class="form-check-input" type="checkbox"
                   style="height: 15px;width: 15px" value="" id="flexCheckChecked" (change)="mailOrder($event)" >
          </div>
          <p class="p-2">Add both mail-order and retail pharmacies to save cost.</p>
          <div class="card p-2" *ngFor="let pharm of pharmacies">
            <div class="tittle p-2">
              <div class="d-flex justify-content-end ">
                Add Pharmacy
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" (change)="check($event,pharm)" >
              </div>
              <p style="color: #4b8bb2">{{pharm.name}}</p>
            </div>
            <div class="card-body">
              <h3>{{pharm.street}},{{pharm.city}}
                {{pharm.state}},{{pharm.zipcode}}  <br>
                {{pharm.phone}}
              </h3>

            </div>
          </div>
          <mat-paginator [length]="page"
                         [pageSize]="5"
                         [pageSizeOptions]="[5, 10, 25, 100]"
                         (page)="onPageChange($event)"
                         showFirstLastButtons
                         aria-label="Select page">
          </mat-paginator>


        </div>

        <div class="col-6 p-2">
          <img src="../../../assets/map.jfif" class="map-img" alt="">
        </div>


      </div>
      </div>


      <div class="d-flex p-2" *ngIf="rowData.length !==0">
        <ag-grid-angular style="width: 80%;margin-top: 1%;min-height: 100px" class="ag-theme-alpine"
                         [scrollbarWidth]="8" [headerHeight]="35"
                         rowSelection="multiple"
                         [rowHeight]="35" [rowData]="rowData"
                         [columnDefs]="columnDefs" (cellClicked)="onGridCellClicked($event)"
                         (gridReady)="onGridReady($event)" domLayout='autoHeight'
        >
        </ag-grid-angular>
      </div>
      <div class="col-12">
        <div class="d-flex p-2 justify-content-end ">
          <button mat-raised-button color="primary" class="btn" (click)="nav()">See Plans</button>
        </div>
      </div>
    </div>
  </div>
</div>
