.card{
  height: 30vh;
  margin-bottom: 10px;
}
.tittle input{
  width: 16px;
  height: 20px;
  margin-left:4px
}
.sub-head input{
  width: 10%;
  height: 15px;
}
.map-img{
  height: 75vh;
  margin-top: 17%;
}

.side-img{
  background-color:#4b8bb2 ;
  /*height: calc(100vh - 77px);*/
  position: relative;
  min-height: 100vh;
}
.side-img img{
  width: 92%;
}
.container{
  padding: 0;
  margin: 0;
}
p{
  font-size: 15px;
}
h3 {
  font-weight: 500;
  border-bottom: solid 1px #ddd;
  font-size: 15px
}
.add-pharmacy-content-wrapper {
  border: solid 1px #ddd;
  border-radius: 2px;
  background-color: #fff;
}
button{
    border-radius: 2px;
    font-weight: 300;
    font-size: 14px;
}
  button:hover {
    color: #fff;
    background-color: #3f51b5;
  }
