<div class="container plan-list-main-wrapper">
  <div class="d-flex position-relative">


    <div class="col-3 filter-sidebar-container side-img"
         *ngIf="sideopen">
      <app-sidebar [planCount]="plans.length" [totalCount]="response.total_results" [selectedFilters]="selectedFilter"></app-sidebar>
    </div>
    <div class="col plan-list-right">
      <div class="plan-presentation-top">
        <div class="d-flex justify-content-center" >
          <div class="d-flex align-items-center side-bar-toggle">
            <button mat-icon-button color="primary" (click)="sidebar()">
              <mat-icon (click)="onMenuClicked()">menu</mat-icon>
            </button>
          </div>
          <div class="d-flex col-3 align-items-center loc-info ">
            <button mat-icon-button color="primary">
              <mat-icon> location_on</mat-icon>
            </button>
            <form class="example-form py-2">
              {{this.zipcode}}
            </form>

          </div>
          <div class="col d-flex align-items-center lis-info">
            <p class="lis d-flex align-items-center">LIS</p>
            <mat-select placeholder="LIS" value="LIS_NO_HELP" [(ngModel)]="lis" (selectionChange)="lisChange()">
              <mat-option value="LIS_NO_HELP">
                None
              </mat-option>
              <mat-option value="LIS_LEVEL_4_25">
                25%
              </mat-option>
              <mat-option value="LIS_LEVEL_4_50">
                50%
              </mat-option>
              <mat-option value="LIS_LEVEL_4_75">
                75%
              </mat-option>
              <mat-option value="LIS_LEVEL_4_100">
                100%
              </mat-option>
            </mat-select>
          </div>
          <div class="col d-flex align-items-center justify-content-end" *ngIf="showDiv">
            <p class="text-nowrap d-flex align-items-center">Effective year</p>
            <mat-select placeholder="2024" [(ngModel)]="effYear" (selectionChange)="effectYearChange($event)">
              <mat-option value="2023">
                2023
              </mat-option>
              <mat-option value="2024">
                2024
              </mat-option>

            </mat-select>
          </div>
          <div class="col d-flex justify-content-end list-top-edit-btn">
            <button class="plan-edit-btn" mat-icon-button color="primary" (click)="openEditPlansPopup()">
              <mat-icon> edit</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="plan-listing-wrapper">
        <div>
          <mat-button-toggle-group class="plan-main-tabs" name="fontStyle" aria-label="Font Style"
                                   (change)="planType($event)"
                                   [(ngModel)]="planTypes">
            <mat-button-toggle value="PLAN_TYPE_MAPD" (click)="handleToggleClick(true)">Medicare Advantage & Prescription Plans</mat-button-toggle>
            <mat-button-toggle value="PLAN_TYPE_MA" (click)="handleToggleClick(false)">Medicare Advantage Plans (Part C)</mat-button-toggle>
            <mat-button-toggle value="PLAN_TYPE_PDP" (click)="handleToggleClick(true)">Prescription Plans (Part D)</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <div class="section">
          <p>
            Showing <span>{{plans.length}}</span> of <span>{{response.total_results}}</span> {{planTypeName}}
          </p>

          <div class="card plan-item-card" *ngFor="let plan of plans ; let i = index">
            <div class="plan-item-card-row">
              <div class="planItem-left">
                <div class="plan-item-head-wrapper">
                  <div class="planItem-logo">
                    <img src="data:image/png;base64,{{plan.logo}}" alt="">
                  </div>
                  <div class="col-10 plan-head">
                    <h1>{{plan.planName}}</h1>
                    <div class="d-flex align-items-center plan-id-category">
                      <p>Plan ID:{{plan.planID}}</p>
                      <button>{{plan.planCategory}}</button>
                    </div>
                  </div>
                </div>
                <div class="base-dtl">
                  <div class="col" *ngFor="let benefits of  plan.segments[1].attributeList">
                    <div class="attribute-name">
                      <h2>{{ benefits.attributeName }}</h2>
                      <p *ngIf="benefits.apiParameter != 'rating'">{{benefits.displayValue}}</p>
                      <div class="star-rating" *ngIf="benefits.apiParameter === 'rating'">
                        <span *ngFor="let star of stars"
                              [ngClass]="{'filled': star < benefits.displayValue, 'half-filled': star === benefits.displayValue - 0.5}"></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="additionalDet-wrapper" *ngIf="plan.showmore && plan.planCategory !='PDDP'">
                  <div class="col s6 m4 l4">
                    <h6>{{plan.segments[3].attributeName}}</h6>
                    <div class="clear"></div>
                    <span class="sub-prop" *ngFor="let benefits of  plan.segments[3].attributeList">
                      <bdo>{{benefits.attributeName}}</bdo>
                      {{benefits.displayValue}}
                    </span>

                  </div>
                  <div class="col s6 m4 l4">
                    <h6>{{plan.segments[4].attributeName}}</h6>
                    <div class="clear"></div>
                    <span class="sub-prop" *ngFor="let benefits of  plan.segments[4].attributeList">
                      <bdo>{{benefits.attributeName}}</bdo>
                      {{benefits.displayValue}}
                    </span>
                  </div>

                  <div class="col s6 m4 l4">
                    <h6>{{plan.segments[2].attributeName}}</h6>
                    <div class="clear"></div>
                    <span class="sub-prop" *ngFor="let benefits of  plan.segments[2].attributeList">
                      <bdo>{{benefits.attributeName}}</bdo>
                      {{benefits.displayValue}}
                    </span>
                  </div>
                </div>
                <div class="btn-showMoreLess">
                  <button mat-icon-button (click)="showMore(plan)" *ngIf="!plan.showmore && plan.planCategory !='PDP'" class="item-show-btn">
                    Show more
                    <mat-icon>keyboard_arrow_down</mat-icon>
                  </button>
                </div>
                <div class="btn-showMoreLess">
                  <button mat-icon-button *ngIf="plan.showmore && plan.planCategory !='PDP'" (click)="showLess(plan)" class="item-show-btn">
                    Show Less
                    <mat-icon>keyboard_arrow_up</mat-icon>
                  </button>
                </div>
                <div class="row" *ngIf="plan.benefits && plan.segments[0].attributeList">
                  <div class="col-12">
                    <h6 class="add-benefit-head">{{plan.segments[0].attributeName}}</h6>
                  </div>
                </div>
                <div class="plan-benefits-items-list" *ngIf="plan.benefits && plan.segments[0].attributeList">
                  <div class="cols" *ngFor="let additionalbenefits of  plan.segments[0].attributeList"  >
                    <span class="benfit-btn" *ngIf="additionalbenefits.displayValue=== 'true'">
                      <mat-icon class="benefit-icon-true">check</mat-icon>
                      <small>{{additionalbenefits.attributeName}}</small>
                    </span>
                    <span class="benfit-btn" *ngIf="additionalbenefits.displayValue=== 'false'">
                      <mat-icon class="benefit-icon-false">close</mat-icon>
                      <small>{{additionalbenefits.attributeName}}</small>
                    </span>
                  </div>
                </div>
                <div class="card-footer">
              <div class="card-footer-info">
                <div class="form-check compare-checkbox" (mouseenter)="tooltipIndex = i" (mouseleave)="tooltipIndex = -1">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"
                         [(ngModel)]="plan.checked" (change)="onCheckboxChange(plan)" [disabled]="checkedData.length >= maxSelections && !plan.checked">
                  <label class="form-check-label" for="flexCheckChecked">
                    Compare
                  </label>
                  <span *ngIf="tooltipIndex === i && (checkedData.length >= maxSelections && !plan.checked)" class="custom-tooltip">
                    Only a maximum of 5 plans can be compared.
                  </span>
                </div>
                <div class="optional-packages-btn" *ngIf=" plan.optional_benefits.length !==0">
                  <span class="opt-pkg-btn" (click)="showOp(plan)" *ngIf="plan.alloptnpkShow">
                    <p>Optional Packages</p>
                    <mat-icon>keyboard_arrow_down</mat-icon>
                  </span>
                </div>
                <div class="documents-dropdown-wrapper">
                  <div class="dropdown documents-dropdown">
                    <button class="btn dropdown-toggle" type="button"
                            id="dropdownMenuButton1" data-bs-toggle="dropdown">
                      Documents <mat-icon>keyboard_arrow_down</mat-icon>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Documents</a></li>
                    </ul>
                  </div>
                </div>
                <div class="d-flex drug-cost-details-btn" *ngIf="shouldHideSpan && showDrugs">
                  <span class="d-flex align-items-center" >Drugs Covered:</span>
                  <button mat-button (click)="openDrugsCovered(plan.drugInfoList)">{{plan.drugsCoveredCount}} of {{drugsArray.length}}
                    <mat-icon>edit</mat-icon>
                  </button>
                </div>
                <div class="cardfooter-plan-details">
                  <!--                <mat-icon id="eye" class="ms-2">remove_red_eye</mat-icon>-->
                  <!--                <label  class="ms-2"> Additional Details</label>-->
                  <button mat-raised-button class="plan-details-btn" (click)="planDetail(plan)">
                    <mat-icon>remove_red_eye</mat-icon>
                    Plan Details
                  </button>
                </div>
                
              </div>
              <div class="card item-optional-packages" *ngIf="plan.optnpkShow">
                <div class="optional-pkg-item" *ngFor="let optbenefits of  plan.optional_benefits;let i = index">
                  <div class="d-flex align-items-center">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" (change)="packageSelection($event,plan,optbenefits.monthly_premium,optbenefits.package_number)"> &nbsp;
                    <label class="form-check-label" for="flexCheckChecked">
                      {{optbenefits.package_number}}
                    </label>
                  </div>
                  <p>{{optbenefits.benefits}}</p>
                  <p>Monthly premium - <span class="rate">{{optbenefits.monthly_premium}}</span></p>
                  <p>Deductible - <span class="rate">{{optbenefits.deductible}}</span></p>
                </div>
              </div>
            </div>
              </div>

              <div class="planItem-right premium">
                <div class="card list-card-right">
                  <div class="card-title">
                    <h2 class="premium-title">Monthly Premium</h2>
                    <h2 class="monthly-premium">${{plan.monthlypremium}}</h2>
                  </div>
                  <div class="justify-content-end">

                    <div class="original-rate-container" *ngIf="originalRateC">
                      <p>Orginal Rate:</p>
                      <h2 class="original-rate">${{plan.orginalRate}}</h2>
                      <!--<a href="">About this rate</a><br>-->
                    </div>
                    <div *ngIf="eacDrugcostPre">
                      <p class="estimated-cost-label">Estimated Annual Cost<small> (Drug Cost + Premium)</small></p>
                      <h2 class="estimated-annual-cost">${{plan.estimatedannualCost}}</h2>
                      <span *ngIf="shouldHideSpan && showDrugs" id="highlighted-text" class="drugcost-det-btn" (click)="drugCost(plan)"><mat-icon>arrow_right</mat-icon>Drug Cost Details<br></span>
                    </div>
                  </div>
                </div>
                <div class="listing-to-cart-btn">
                  <button mat-raised-button color="primary" class="item-add-to-cart px-5"
                          [ngClass]="{'clicked': plan.cartAdded}" (click)="addToCart(plan)">
                    Add to cart
                  </button>
                </div>
              </div>

            </div>
            
          </div>
        </div>

        <mat-paginator [length]="response.total_results"
                       [pageSize]="10"
                       [pageSizeOptions]="[10]"
                       (page)="onPageChange($event)"
                       showFirstLastButtons
                       aria-label="Select page">
        </mat-paginator>
        <div></div>
      </div>


      <div class="sectionbtm d-flex align-items-center" *ngIf="isChecked">
        <!-- Your section content here -->
        <div class="d-flex justify-content-center align-items-center">
          <div class="col-6">
            {{this.checkedData.length}} plans selected for comparison
          </div>
          <div class="d-flex col-6 justify-content-end">
            <button mat-button class="comparebtn" (click)="clearCompare()">
              <mat-icon> clear_all</mat-icon>
              Clear
            </button>
            <button mat-button class="comparebtn" (click)="planCompare()">
              <mat-icon>compare</mat-icon>
              Compare Plans
            </button>
          </div>
        </div>
      </div>

      <ng-template #Zipchange>
        <div class="container-fluid">
          <h3>
            Would you like to select pharmacies from the county that is associated with the entered ZIP Code?</h3>
          <div class="d-flex justify-content-end">
            <button mat-raised-button  (click)="cancel()">No</button>
            <button mat-raised-button  color="primary" (click)="prescription()">Yes
            </button>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
