.top-btns{
  width: 100%;
  border: none;
  height: 40px;
}
/deep/html.cdk-global-scrollblock {
  top: 0 !important
}
/*p{*/
/*  text-align: center;*/
/*}*/
.sub-line{
  font-size: 11px;
  color: gray;
  margin-top: -12px;
  font-weight: 400;
}
.benefit-icon-true{
  border-radius: 50%;
  color: green;
  font-weight: bold;
}
.benefit-icon-false{
  border-radius: 50%;
  color: red;
  font-weight: bold;
}
.container{
  padding: 0;
  margin: 0;
  max-width: 100%;
  height: 100vh;
}

.lis{
  color: #3f51b5;
  font-weight: 500;
  margin-top: 10px;
  margin-right: 7px;
}
mat-select{
  margin-top: 5px;
}
.side-img{
  background-color:#ffffff ;
  color: white;
}
.benfit-btn{
  font-size: 12.5px;
  width: 100%;
  text-align: left;
}

.rate{
  font-weight: bold;
}
.component {
  position: relative;
}
.plan-item-card h1{
    font-size: 18px;
}

.content {
  /* Your component styles here */
}

.sectionbtm {
  position: fixed;
  bottom: 10px;
  right: 0;
  max-width: 550px; /* Half of the component width */
  height: 70px;
  background-color: #00267a;
  color: white;
  font-size: 18px;
  border-radius: 5px 0 0 5px;
  box-shadow: -2px 2px 4px rgba(0, 0, 0, .2);
  padding: 0 10px;
  /* Your section styles here */
}
.comparebtn{
  color: black;
  background-color: white;
  margin-left: 10px;
  font-size: 12px;
}
.star-rating {
  font-size: 24px;
}

.star-rating span {
  display: inline-block;
  width: 24px;
  height: 20px;
  background-color: transparent;
  background-image: url('../../../assets/empty.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.star-rating span.filled {
  background-image: url('../../../assets/full.png');
}

.star-rating span.half-filled {
  background-image: url('../../../assets/half.png');
}
.clicked {
  background-color: #a6a7a6;
  color: white;
}
.benefit-icon{
  color: green;
}
.baseBenifit p{
  text-align: center;
}
.baseBenifit span{
  font-weight: bold;
}



/**/

.plan-head{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
  .plan-head h1{
      width: 100%;
  }
  .plan-head button {
    background-color: #777777;
    color: white;
    border: none;
    padding: 2px 8px;
    height: 24px;
    width: auto;
    font-size: 12px;
    font-weight: 400;
  }

.plan-head p {
  font-size: 14px;
  font-weight: 400;
}
.base-dtl p {
  font-size: 17px;
  font-weight: 300;
  line-height: 23px;
  pointer-events: none;
  color: #7e7e7e;
}
.base-dtl h2{
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 1px;
}
h6{
  font-size: 16px;
  margin-bottom: 10px;
  float: left;
  font-weight: 500;
}
.sub-prop {
  display: block;
  margin-bottom: 8px;
  color: #7e7e7e !important;
  font-size: 13px;
  font-weight: 100;
  line-height: normal;
}
.sub-prop bdo{
    font-weight: 500;
    color: #252525 !important;
}
.clear{
  clear: both;
}
bdo {
  display: block;
  margin-bottom: 4px;
  color: #7e7e7e !important;
  font-size: 13px;
  font-weight: 300;
}
mat-button-toggle-group{
  width: 100%;
}
mat-button-toggle{
  width: 100%;
}
.selected {
  background-color: blue;
  color: white;
}
.plan-presentation-top{
    padding: 10px;
    box-shadow: 6px 6px 15px rgba(0 , 0, 0, .35);
    border-radius: 6px;
    margin-bottom: 20px;
}
.plan-presentation-top p{
    margin: 0;
}
.plan-presentation-top .plan-edit-btn mat-icon{
  color: #fff;
}
.plan-presentation-top input[type="text"]{
  height: 32px;
}
.plan-list-right {
  padding-left: 20px;
}
mat-select{
  border-radius: 2px;
  height: 32px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 23px;
  margin-top: 0;
  max-width: 180px;
}
.plan-edit-btn{
  background-color: #3c6f8e;
  color: #fff;
  border-radius: 0;
  min-height: 100%;
  max-height: 47px;
  width: 41px;
}
.lis{
  color: #252525;
  font-weight: 400;
}
.plan-presentation-top p{
    color: #252525;
}
.plan-main-tabs {
  border-radius: 6px;
  border: 1px solid #005875;
  margin-bottom: 15px;

}
.plan-main-tabs .mat-button-toggle {
  font-weight: 500;
  color: #4D4D4D;
  font-size: 15px;
}
.plan-presentation-top button{
    width: 34px;
    height: 34px;
    min-height: inherit;
    border-radius: 4px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mat-button-toggle-group-appearance-standard .mat-button-toggle + .mat-button-toggle {
  border-left: none;
}
.plan-main-tabs .mat-button-toggle-checked {
  background-color: #fff;
  color: #005875;
  border-bottom: 2px solid #005875;
}
.original-rate{
    font-size: 16px;
    font-weight: 300;
}
.premium a{
    color: blue;
    font-weight: 400;
    font-size: 13px;
    text-decoration: underline;
    text-decoration-style: dashed;
}
.premium .premium-title, .estimated-annual-cost-label {
  font-size: 16px;
  font-weight: 300;
}
.material-icons{
    font-size: 21px;
}
.plan-details-btn{
    border-radius: 0;
    box-shadow: none;
    font-weight: 400;
}
.card-footer p{
    margin-bottom: 0;
}
.item-optional-packages{
    border-radius: 2px;
}
.item-optional-packages label, .item-optional-packages p {
  font-weight: 300;
}
.item-optional-packages p{
    margin-top: 5px;
}
.item-optional-packages span.rate {
  font-weight: 500;
}
.drug-cost-details-btn mat-icon{
    font-size: 19px;
}
.drug-cost-details-btn button:hover, .drug-cost-details-btn button:focus-within, .drug-cost-details-btn button:active {
  background-color: #fff !important;
}
.form-check-input {
  margin-top: 1px;
}
.card-footer > .card{
    margin: 0
}
.item-add-to-cart{
    width: 100%;
    padding: 0 30px
}
h1{
    margin-bottom: 0;
}
.documents-dropdown button{
    font-weight: 400 !important;
    font-size: 14px;
    display: flex;
    align-items: center;
}
.optional-packages-btn p{
    font-size: 14px;
    font-weight: normal;
}
.list-top-edit-btn{
    max-width: 42px;
    margin-left: 15px;
}
mat-select mat-option{
    max-width: 180px;
}
.compare-checkbox input{
   position: relative;
   top: -2px;
}
.item-show-btn mat-icon{
    color: #4b8bb2;
}
.estimated-cost-label small {
  display: block;
}
.dropdown.documents-dropdown button:after{
    display: none;
}
.dropdown.documents-dropdown mat-icon{
    height: 14px;
    display: flex;
    align-items: center;
}
/*#highlighted-text {
    color: blue;*/ /* Set the text color */
    /*text-decoration: underline;*/ /* Underline the text */
    /*cursor: pointer;*/ /* Change cursor to indicate interactivity */
/*}*/
.plan-benefits-items-list{
    display: flex;
    gap: 10px;
    padding-bottom: 10px;
    flex-wrap: wrap;

}
.plan-benefits-items-list .cols .benfit-btn{
    display: flex;
}
.card.item-optional-packages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  background: #f4f6ff;
  border-color: #bdc7ff;
}
.card.item-optional-packages label{
    font-weight: 600;
}
.opt-pkg-btn {
    cursor: pointer;
}
.custom-tooltip {
  position: absolute;
  color: #111108 !important;
  background-color: #fcfceb;
  border: 1px solid #d0d0b3;
  font-size: 12px;
  transform-origin: unset !important;
  padding: 5px 10px;
  font-weight: 400;
  z-index: 1;
  border-radius: 4px;
  max-width: 200px;
}
.card-footer input[disabled],
.card-footer input[disabled] ~ .form-check-label {
  opacity: 1;
}
.filter-sidebar-container {
  height: 100vh;
  position: sticky;
  top: 0.011px;
  overflow-y: auto;
  overflow-x: hidden;
  min-width: 400px;
}
.container.plan-list-main-wrapper{
    max-width: 1264px !important;
    margin: 0 auto;
    padding: 25px 15px 0;
}
.side-bar-toggle{
    margin-right: 15px;
}
.loc-info button, .lis-info p{
    margin-right: 10px;
}

