<!--<div class="container">-->
<!--  <div class="d-flex p-2 justify-content-end">-->
<!--      <button mat-raised-button color="warn">X</button>-->
<!--  </div>-->
<!--  <div class="card m-2 p-2">-->
<!--    <div class="error-popup">-->
<!--      <span class="error-message">Enter a valid ZIP code and select the relevant county to view the list of plans</span>-->
<!--    </div>-->
<!--  </div>-->

<!--</div>-->

<div class="container-fluid position-relative popup-body-wrapper">
  <div class="row">
  </div>
  <div class="row">
    <div class="zipcode-val-popup-body px-0">
      <div class="alert-msg-icon">
        <mat-icon>highlight_off</mat-icon>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <p>Are you sure that you want to remove this customer?</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center warning-popup-actions">
    <button mat-raised-button color="primary" (click)="continue()">Yes</button>
    <button mat-raised-button color="secondary" (click)="close()">No</button>
  </div>
</div>
