<div class="container-fluid">
  <nav aria-label="breadcrumb" style="font-size: 15px ;color: black">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/capex-approval">Dashboard</a></li>
      <li class="breadcrumb-item active" aria-current="page">Invalid Budgets</li>
    </ol>
  </nav>
    <div class="row">
      <div class="col-md-6" align="left" style="margin-bottom: -4px">
        <br>
        <!-- <h1 ><span class="heading" style="text-decoration: underline;">Approved Requests</span></h1> -->
        <p class="h">Invalid Budgets</p>
      </div>
      <div class="col-md-6" align="right" style="margin-top: 4%;">
        <!-- <button mat-raised-button class="approve-button">GO TO CAPEX APPROVAL</button>&nbsp; -->
      </div>
    </div>
    <div class="row" >
      <div class="col-md-12">
        <ag-grid-angular style="height: 400px;width: 88%;margin-left: 8%;" class="ag-theme-balham" [scrollbarWidth]="8" [headerHeight]="30"
                         [rowHeight]="35" [rowData]="rowData" (cellClicked)="onGridCellClicked($event)"
                         [columnDefs]="columnDefs" enableCellTextSelection=true>
        </ag-grid-angular>
      </div>
    </div>
  </div>
