/*@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,600;1,700;1,800&display=swap');*/
/*body{*/

/*  font-family: 'Poppins', sans-serif;*/

/*}*/

.section-padding{
  padding-top: 120px;
  padding-bottom: 120px;
}
.login h2{
    font-weight: 600;
    font-size: 26px;
    color: #252525
}
.login-main-wrapper {
  background: url(../../assets/login-bg.jpg) no-repeat fixed top left;
  background-attachment: fixed;
  min-height: calc(100vh - 78px);
  background-size: cover;
}
.login-form-container{
    max-width: 480px;
    min-height: 320px;
}
.login-form-row{
    max-width: 1234px;
    margin: 0 auto;
}
@media (max-width: 767px) {
  .login-form-container {
    min-height: 240px;
  }

  .login-main-wrapper {
    background: url(../../assets/login-bg.jpg) no-repeat fixed top left -100px;
    background-size: cover;
  }
}
@media (max-width: 480px) {
  .login-form-row{
      margin-top: 100px;
  }
}
