<div class="container-fluid">
  <nav aria-label="breadcrumb" style="font-size: 15px ;color: black">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/capex-approval">Dashboard</a></li>
      <li class="breadcrumb-item active" aria-current="page">Rejected Requests</li>
    </ol>
  </nav>
    <div class="row">
        <div class="col-md-6" align="left">
          <br>
          <p class="h">Rejected Requests</p>
        </div>
      <div class="col-md-4" align="left">
        <button mat-raised-button  class="clrdbtn"  (click)="getRejectedCapexRequests()" >
          <mat-icon> format_clear</mat-icon></button>&nbsp;
        <button mat-raised-button  class="dwnldbtn"  (click)="dwnldfilteredrequest()" >
          <mat-icon>cloud_download</mat-icon></button>&nbsp;
      </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ag-grid-angular style="height: 396px;width: 91%;margin-left: 4%;" class="ag-theme-balham"
                           [scrollbarWidth]="8" [headerHeight]="35"
                           rowSelection="multiple"
                           (rowSelected)="activitySelected($event)"
                           [rowHeight]="35" [rowData]="rowData" (cellClicked)="onGridCellClicked($event)"
                            [columnDefs]="columnDefs" enableCellTextSelection=true>
          </ag-grid-angular>
        </div>
      </div>
    </div>
