

<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-6"> <p class="h">Budget Details</p></div>
            <div class="col-md-6">
              <div class="upload-excel">

                <label    (click)="clickEdit()" *ngIf="pending ===username || headerData.workstage === 2">
      <i class="fa fa-pencil" aria-hidden="true"></i>
       Edit Details </label>
<!--                <label    (click)="clickEdit()" *ngIf="resubmitBtnEnable">-->
<!--                  <i class="fa fa-pencil" aria-hidden="true"></i>-->
<!--                  Edit Details </label>-->

      </div>

            </div>
          </div>
            <br>
            <div class="tab">

                <table class="dispatchTable">
                    <tr>
                        <td class="table-heading">Department</td>
                        <td class="table-data">{{headerData.department}}</td>
                        <td class="table-heading">Type of Investment</td>
                        <td class="table-data">{{headerData.invstmntType}}</td>
                        <td class="table-heading">Approx Value</td>
                        <td class="table-data">{{headerData.aproxVal                          }}</td>
                    </tr>
                    <tr>
                        <td class="table-heading">Plant Code</td>
                        <td class="table-data">{{headerData.plantCd}}</td>
                        <td class="table-heading">Purpose of Investment</td>
                        <td class="table-data">{{headerData.invstmntPurpose}}</td>
                        <td class="table-heading">Pay Back</td>
                        <td class="table-data">{{headerData.payback}}</td>
                    </tr>
                    <tr>
                        <td class="table-heading">Plant Name</td>
                        <td class="table-data">{{headerData.plantName}}</td>
                        <td class="table-heading">Investment Proposal Details</td>
                        <td class="table-data">{{headerData.details}}</td>
                        <td class="table-heading">Pay Back Period</td>
                        <td class="table-data">{{headerData.payBackPeriod}}</td>
                    </tr>
                    <tr>
                        <td class="table-heading">Category / Brand</td>
                        <td class="table-data">{{headerData.catgry}}</td>
                        <td class="table-heading">Qty Required</td>
                        <td class="table-data">{{headerData.qty}}</td>
                        <td class="table-heading">Remarks</td>
                        <td class="table-data">{{headerData.remarks}}</td>
                    </tr>
                </table>

            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div class="time">
                        <!-- <h4 style="text-align: center;border-radius: 15px;background-color: aquamarine;margin-top: 10px;">Approval Progress</h4> -->
                        <p class="h">Approval Progress</p>
                    </div>

                    <app-timeline></app-timeline>
                </div>
            </div>
            <br>
            <div class="row" style="height: 46px;">
                <div class="col-md-12">
                    <!-- <h5 style="margin-top: 55px;text-align: center;border-radius: 15px;background-color: aquamarine;height: 32px;padding: 4px;">Attached Documents</h5> -->
                    <div class="row">
                      <div class="col-md-6" ><p class="h">Attached Documents    </p></div>

                      <div class="col-md-6"><button mat-raised-button class="capex-button" (click)="upload()"> <i class="fa fa-upload" aria-hidden="true"></i>&nbsp;Upload Document</button>&nbsp;</div>
                    </div>


                    <ag-grid-angular style="height: 200px;  width:100% ;margin-bottom: 100px;" class="ag-theme-balham" [scrollbarWidth]="8" [headerHeight]="35" [rowHeight]="40" (cellClicked)="onGridCellClicked($event)" [rowData]="rowData" [columnDefs]="columnDefs" enableCellTextSelection=true>
                    </ag-grid-angular>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <!-- <h5 style="text-align: center; border-radius: 15px;background-color: antiquewhite;margin-top: 10px;">History</h5> -->
            <p class="hh">History</p>
            <app-history></app-history>
        </div>
    </div><br><br>
    <div class="row">
      <div class="col-md-12">
        <div class="buttons">
          <div style="text-align: center;margin-bottom: 20px" *ngIf="!buttonHide">
            <button mat-raised-button class="approve-button" (click)="openApproveWarning()"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Approve &nbsp; </button>&nbsp;
            <button mat-raised-button class="reject-button" (click)="openRejectWarning()"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Reject  &nbsp;</button>&nbsp;

          </div>
          <div *ngIf="pending ===username " >
          <div *ngIf="resubmitBtnEnable" style="text-align: center;">
            <button mat-raised-button class="approve-button" (click)="openResubmitWarning()"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Resubmit Request &nbsp; </button>&nbsp;
          </div>
        </div>
        </div>
      </div>
    </div>
  <br>
  <br><br>

<ng-template #approveWarning>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10">
        <p class="capex-headings-lite">Approve Request</p>
      </div>
      <div class="col-md-2" align="right">
        <button mat-dialog-close style="background-color: #ff1d0f; color: white">X</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="container-fluid  border border-warning">
          <br>
          <div class="row">
            <div class="col-md-12">
              <p class="capex-headings-lite">Do you really wish to Approve this request ?</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label> Approve Remarks</mat-label>
                <input type="email" matInput placeholder="Enter Approve Remarks " [(ngModel)]="apprvRemarks">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" align="right">
              <button mat-raised-button mat-dialog-close>No, Thanks</button>&nbsp;
              <button mat-raised-button style="color: white; background-color: #4caf50" mat-dialog-close (click)="approveRequest()"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Approve</button>
              <br><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>


<ng-template #rejectWarning>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10">
        <p class="capex-headings-lite">Reject Request</p>
      </div>
      <div class="col-md-2" align="right">
        <button mat-dialog-close style="background-color: #ff1d0f; color: white">X</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="container-fluid border border-success">
          <div class="row">
            <div class="col-md-12">
              <br>
              <p class="capex-headings-lite">You're sure about to reject selected request</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label> Reject Reason</mat-label>
                <input type="email" matInput placeholder="Enter Reject Reason " [(ngModel)]="rejectReson">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" align="right">
              <button mat-raised-button [mat-dialog-close]="false">No,Thanks</button>&nbsp;
              <button mat-raised-button color="warn" (click)="rejectRequest()" mat-dialog-close [disabled]="rejectReson === '' || rejectReson === undefined"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Reject</button>
            </div>
            <br><br>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #resubmitWarning>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10">
        <p class="capex-headings-lite">Resubmit Request</p>
      </div>
      <div class="col-md-2" align="right">
        <button mat-dialog-close style="background-color: #ff1d0f; color: white">X</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="container-fluid  border border-warning">
          <br>
          <div class="row">
            <div class="col-md-12">
              <p class="capex-headings-lite">Do you really wish to resubmit this request ?</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label> Resubmit Remarks</mat-label>
                <input type="email" matInput placeholder="Enter Reject Reason " [(ngModel)]="resubmitRemrks">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" align="right">
              <button mat-raised-button mat-dialog-close>No, Thanks</button>&nbsp;
              <button mat-raised-button style="color: white; background-color: #4caf50" mat-dialog-close (click)="resubmitRequest()"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Resubmit</button>
              <br><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
</div>
