.dispatchTable {
    width: 100%;
    font-size: 12px;
    font-family: 'Abel', sans-serif;
    border-radius: 50px;
    table-layout: fixed;
    text-align: center;
    height: 32px;
    padding: 4px;
    background-color: aliceblue;
}

.table-heading {
    border: 1px solid rgba(168, 168, 168, 0.42);
    padding: 8px;
    font-size: 14px;
    font-weight: bold;
}

.table-data {
    border: 1px solid rgba(168, 168, 168, 0.42);
    padding: 8px;
color: black;
font-size: 13px;
width: auto;


}

.container {
    width: 1000px;
}

.timeline {
    counter-reset: test 0;
    position: relative;
    margin-left: -105px;
}

.timeline li {
    list-style: none;
    float: left;
    width: 25.0%;
    font-size: 14px;
    font-family: 'Abel', sans-serif;
    font-weight: bolder;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

ul:nth-child(1) {
    color: #4caf50;
}

.timeline li:before {
    counter-increment: test;
    content: counter(test);
    width: 50px;
    height: 50px;
    border: 3px solid #4caf50;
    border-radius: 50%;
    display: block;
    text-align: center;
    line-height: 50px;
    margin: 0 auto 10px auto;
    background: #fff;
    color: #000;
    transition: all ease-in-out .3s;
    cursor: pointer;
}

.timeline li:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: grey;
    top: 25px;
    left: -50%;
    z-index: -999;
    transition: all ease-in-out .3s;
}

.timeline li:first-child:after {
    content: none;
}

.timeline li.active-tl {
    color: #555555;
}

.timeline li.active-tl:before {
    background: #4caf50;
    color: #F1F1F1;
}

.timeline li.active-tl+li:after {
    background: #4caf50;
}

.bottomright {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
}

.approve-button {
    background-color: green;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Abel', sans-serif;
}

.reject-button {
    background-color: #ff2b3f;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Abel', sans-serif;
}

.capex-button {
    background-color: #0e5ea3;
    border-radius: 10px;
    ;
    color: white;
    padding: 0px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Abel', sans-serif;
    margin-left: 63%;

}

.upload-excel {
    cursor: pointer;
    color: #fd5774;
    margin-left: 65%;
}

.upload-excel:hover {
    text-decoration: underline;
    color: #fd4361;
}

.card {
    margin-left: 11%;
}

.tab {
    width: 100%;
    margin-top: -36px;
}

.h {
    background-color: #147c9d;
    width: 50%;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    font-weight: bold;
}
.hh{
    background-color: #147c9d;
    width: 100%;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    font-weight: bold; 
}
.buttons{
    position: relative;
    margin-top: 15%;
}