<div class="container email-proposal-container mt-4">
  <div class="d-flex mt-2">
    <div class="col-6 p-2">
      <mat-form-field appearance="fill">
        <label>First Name</label>
        <input type="text" >
      </mat-form-field>
    </div>
    <div class="col-6 p-2">
      <mat-form-field appearance="fill">
        <label>Last Name</label>
        <input type="text" >
      </mat-form-field>
    </div>
  </div>
  <div class="d-flex">
    <div class="col-6 p-2">
      <mat-form-field appearance="fill">
        <label>Gender</label>
        <mat-select value="0">
          <mat-option [value]="0">
            Male
          </mat-option>
          <mat-option [value]="1">
            Female
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-6 p-2">
      <mat-form-field appearance="fill">
        <label>Date of Birth</label>
        <input type="text" >
      </mat-form-field>
    </div>
  </div>
  <div class="d-flex ">
    <div class="col-6 p-2">
      <mat-form-field appearance="fill">
        <label>Email</label>
        <input type="text" >
      </mat-form-field>
    </div>
    <div class="col-6 p-2">
      <mat-form-field appearance="fill">
        <label>Phone</label>
        <input type="text" >
      </mat-form-field>
    </div>
  </div>
  <div class="d-flex">
    <div class="col-6 p-2">
      <mat-form-field appearance="fill">
        <label>Format</label>
        <mat-select value="0">
          <mat-option [value]="0">
            PDF Format
          </mat-option>
          <mat-option [value]="1">
            Excel Format
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-6 p-2">
      <mat-form-field appearance="fill">
        <label>Type your comments here</label>
        <input type="text" >
      </mat-form-field>
    </div>
  </div>
  <div class="d-flex ">
    <div class="col-6 p-2">
      <mat-form-field appearance="fill">
        <mat-label>Do you want to attach proposal in the Mail</mat-label>
        <mat-select value="0">
          <mat-option [value]="0">
            Yes
          </mat-option>
          <mat-option [value]="1">
            No
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="d-flex col-12 justify-content-end">
    <div class="d-flex">
      <button mat-raised-button STYLE="background-color: white" (click)="navTocart()">Cancel</button>
      <button mat-raised-button style="background-color: #005875;color: white" class="ms-2" (click)="navTocart()" >
        Send
      </button>
    </div>
  </div>
</div>
