<div class="row" xmlns="http://www.w3.org/1999/html">
  <div class="col-md-8  offset-md-2" align="left">
    <br>
    <!-- <h1 ><span class="heading" style="text-decoration: underline;">In process Requests</span></h1> -->

    <div class="row">
      <div class="col-md-6">
        <p class="h">Plant Mapings</p>
      </div>
      <div class="col-md-6">
        <button style="background-color: #2fc09e;color: white" (click)="addusr()">
          Add New User
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row">

  <br>
  <div class="col-md-8 offset-md-2">
    <ag-grid-angular style="height: 430px;font-size: initial;width: 82%" class="ag-theme-balham"
                     [scrollbarWidth]="8" [headerHeight]="35"
                     [rowHeight]="35" (cellClicked)="onGridCellClicked($event)"
                     [rowData]="rowData" [columnDefs]="columnDefs" enableCellTextSelection=true>
    </ag-grid-angular>
  </div>
</div>



<ng-template #rejectWarning>
  <h3>User Plant Maping Details</h3>
  <div class="container-fluid bordered-div">
    <div class="row">
      <h5>User Details</h5>
    </div>
    <div class="row" style="font-size: 15px">
      <div class="col-md-12 col-sm-12">
        <table class="full-width">
          <tr>
            <td style="width: 25%" class="header-row">User Name</td>
            <td style="width: 25%" class="content-row">{{username}}</td>

            <td style="width: 25%" class="header-row" >Department</td>
            <td style="width: 25%"class="content-row">{{department}}</td>
          </tr>
        </table>
      </div>
    </div>
    <br>
    <div class="row">
      <h5>Set Plant Maping</h5>
    </div>
    <div class="row">

      <div class="col-md-5 col-sm-5">
                <form class="example-form">
                  <mat-form-field class="plntin" appearance="outline" >
                    <mat-label>Select Plant</mat-label>
                    <input type="text" style="height: 20px"
                           matInput
                           (input) ="filter($event)"
                           [formControl]="myControl"
                           [matAutocomplete]="auto">
                    <mat-autocomplete  #auto="matAutocomplete"
                    [displayWith]="_displayplantname">
                      <mat-option *ngFor="let option of filteredOptions" [value]="option" >
                        {{option.department_name}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </form>
              </div>
      <div class="col-md-7 col-sm-7">
        <button mat-raised-button color="primary" (click)="add()" >Add plant</button>
      </div>
    </div>



    <div class="row">
      <h5>Accessible Plant History</h5>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
              <ag-grid-angular style="height: 286px; width: 60%" class="ag-theme-balham"
                               [scrollbarWidth]="8" [headerHeight]="35"
                               [rowHeight]="35" (cellClicked)="delete($event)"
                               [rowData]="plantdata" [columnDefs]="columnDefsdet" enableCellTextSelection=true>
              </ag-grid-angular>
      </div>
    </div>
  </div>

</ng-template>

<ng-template #addnew>
  <div class="container-fluid bordered-div">
    <h4>ADD NEW USER</h4>
    <form [formGroup]="editform">
    <div class="row">
      <div class="col-md-6">
      <mat-label>Select User</mat-label>
          <mat-select formControlName="user">
            <input matInput type="text" (keyup)="onKeyuser($event)" placeholder="Search" style="height: 60px;position: sticky;top: 0;background-color: white" >
            <mat-option *ngFor="let user of mappedusrs" [value]="user.usrid" >
              {{user.username}}
            </mat-option>
          </mat-select>
      </div>
      <div class="col-md-6">
          <mat-form-field class="example-full-width" appearance="fill" >
            <mat-label>Select Plant</mat-label>
            <mat-select formControlName="plant">
              <input matInput type="text" (keyup)="onKeyplant($event)" placeholder="Search" style="height: 60px;position: sticky;top: 0;background-color: white" >
              <mat-option *ngFor="let option of plants" [value]="option.department_id" >
                {{option.department_name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </div>
    </div>
    </form>
    <button style="background-color: #4caf50; width: 100px;border-radius: 10px" (click)="appNewUsrMping()">ADD</button>
  </div>
</ng-template>
