<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="push">
    <mat-nav-list>
      <div class="row ">
        <div class="col-12 text-left">
          <img cdkFocusRegionstart src="assets/logo-ujala.png" alt="" height="45px"style="margin-left: 26px;">
        </div>
      </div>
      <br>
      <!-- <a mat-list-item class="side-bar-item-capex" *ngFor="let sidebarItem of sidebarLinks; let i = index"  (click)="clickRoute(sidebarItem.path)">
        <mat-icon routerLinkActive="active-icon">{{sidebarItem.icon}}</mat-icon>&nbsp;&nbsp; {{sidebarItem.pathName}}
      </a> -->
    </mat-nav-list>




    <mat-expansion-panel class="expansionBg" (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title style="color: white;" >
          <mat-icon class="icoon"> local_library</mat-icon>  Capex Approval
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list-item class="sidenavItemBtn" c>
        <div  class="sidenav-item" (click)="clickRoute('capex-approval')" >
          <mat-icon> star_half</mat-icon>  <p class="lead sidebar-font" routerLink="/capex-approval">Dashboard</p>
        </div>
      </mat-list-item>
      <mat-list-item class="sidenavItemBtn" (click)="clickRoute('capex-budget-approved')" >
        <div  class="sidenav-item"  >
          <mat-icon> layers</mat-icon> <p class="lead sidebar-font">Capex Approved</p>
        </div>
      </mat-list-item>
      <mat-list-item class="sidenavItemBtn" (click)="clickRoute('capex-budget-pending')" >
        <div  class="sidenav-item" >
          <mat-icon> rate_review</mat-icon>   <p class="lead sidebar-font" >Capex Pending</p>
        </div>
      </mat-list-item>
      <mat-list-item class="sidenavItemBtn" (click)="clickRoute('capex-budget-submit')" >
        <div  class="sidenav-item" >
          <mat-icon> check_box</mat-icon>  <p class="lead sidebar-font">Capex Rejected</p>
        </div>
      </mat-list-item>
      <mat-list-item class="sidenavItemBtn" (click)="clickRoute('InvalidBudgetsComponent')" >
        <div  class="sidenav-item" >
          <mat-icon>invert_colors</mat-icon>  <p class="lead sidebar-font">Invalid Capex</p>
        </div>
      </mat-list-item>
    </mat-expansion-panel>

    <mat-expansion-panel class="expansionBg" (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title style="color: white;" >
          <mat-icon class="icoon"> assessment</mat-icon>  Budget Approval
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list-item class="sidenavItemBtn" (click)="dashboard()">
        <mat-icon> dashboard</mat-icon>  <p class="lead sidebar-font" >Dashboard</p>
      </mat-list-item>
      <mat-list-item class="sidenavItemBtn"  *ngFor="let sidebarItem of sidebarLinks"  >
        <div  class="sidenav-item" (click)="clickRoutephaseone(sidebarItem.path)">
          <mat-icon> {{sidebarItem.icon}}</mat-icon>  <p class="lead sidebar-font" >{{sidebarItem.pathName}}</p>
        </div>

      </mat-list-item>

    </mat-expansion-panel>



    <mat-expansion-panel class="expansionBg" (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false" >
      <mat-expansion-panel-header>
        <mat-panel-title style="color: white;" >

          <mat-icon class="icoon"> event_note</mat-icon>  Internal Order
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-list-item class="sidenavItemBtn" (click)="clickRoute('io-dashboard')">
        <div  class="sidenav-item" >
          <mat-icon>more</mat-icon>Dashboard<p class="lead sidebar-font" > </p>
        </div>
      </mat-list-item>
<!--      <mat-list-item class="sidenavItemBtn" (click)="clickRoute('io-report')">-->
<!--        <div  class="sidenav-item" >-->
<!--          <mat-icon>reorder</mat-icon>Report<p class="lead sidebar-font" > </p>-->
<!--        </div>-->
<!--      </mat-list-item>-->

    </mat-expansion-panel>
    <mat-expansion-panel class="expansionBg" (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title style="color: white;" >

          <mat-icon class="icoon"> insert_chart</mat-icon>Repository
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-list-item class="sidenavItemBtn" >
        <div  class="sidenav-item"  (click)="repoNav('2022')">
          <mat-icon>collections_bookmark</mat-icon>  <p class="lead sidebar-font" >FY 2022- 23</p>
        </div>
      </mat-list-item>

    </mat-expansion-panel>
    <mat-expansion-panel class="expansionBg" (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false" *ngIf="role === 'CPXSPADM' || role === 'CPXADM'">
      <mat-expansion-panel-header>
        <mat-panel-title style="color: white;" >

          <mat-icon class="icoon"> account_balance</mat-icon>  Master Data
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-list-item class="sidenavItemBtn" (click)="clickRoute('user-mping')">
        <div  class="sidenav-item" >
          <mat-icon>explore </mat-icon>  <p class="lead sidebar-font" >User Plant Mapping</p>
        </div>

      </mat-list-item>

    </mat-expansion-panel>
    <mat-expansion-panel class="expansionBg" (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false" >
      <mat-expansion-panel-header>
        <mat-panel-title style="color: white;" >

          <mat-icon class="icoon"> collections</mat-icon>  Reports
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-list-item class="sidenavItemBtn" (click)="clickRoute('io-report')">
        <div  class="sidenav-item" >
          <mat-icon>reorder</mat-icon>Report<p class="lead sidebar-font" > </p>
        </div>
      </mat-list-item>

    </mat-expansion-panel>




    <br>
    <div class="row bal-space">
      <div class="col-md-12" align="center">
        <p class="info-text1">Capex Budgeting System </p>
        <p class="info-text2">Map My Marketing Pvt.Ltd</p>
        <p class="info-text3">Version(beta)</p>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="position-fixed">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
              (click)="sidenav.toggle()" onclick="this.blur()">
        <mat-icon style="margin-top: 10px;">menu</mat-icon>
      </button>
      <span routerLink="/"><h1 class="capex-headings">CAPEX BUDGETING & APPROVAL</h1></span>
      <div style="margin-left: 30px" *ngIf="isShown">
        <button mat-raised-button class="request-button" (click)="redirctToRequest()" *ngIf="role === 'CPXREQ' " >
          <i class="fa fa-address-book-o" aria-hidden="true"></i>&nbsp; | Upload Request</button>
        <button mat-raised-button class="request-button" (click)="redirctToRequest()" *ngIf="role === 'CPXSPADM'" >
          <i class="fa fa-address-book-o" aria-hidden="true"></i>&nbsp; | Upload Request</button>
      </div>
      <span class="example-spacer"> <img src="assets/logo-ujala.png" alt="" style=" width: 20%;margin-left: 25%;"></span>

      <button mat-button [matMenuTriggerFor]="menu">
        <span class="display-4" style="font-size: 17px;font-family: 'Abel';font-weight: bolder;
">
          {{username}} | {{department}}
        <img src="assets/user-pic.png" alt="" height="30px"></span>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item (click)="logout()">
          <span>Logout from Capex &nbsp;&nbsp;<i class="material-icons icon1">power_settings_new</i></span>
        </button>
      </mat-menu>
    </mat-toolbar>
    <br>
    <main [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''" class="content">
      <router-outlet #o="outlet"></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
