<div class="container-fluid">
  <nav aria-label="breadcrumb" style="font-size: 15px ;color: black">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/capex-approval">Dashboard</a></li>
      <li class="breadcrumb-item active" aria-current="page">Approved Requests</li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-md-6" align="left" style="margin-bottom: -4px">
      <br>
      <!-- <h1 ><span class="heading" style="text-decoration: underline;">Approved Requests</span></h1> -->
      <p class="h">Approved Requests</p>
    </div>
    <div class="col-md-4" align="left">
      <button mat-raised-button  class="clrdbtn"  (click)="capexApprovedBudgets()" >
        <mat-icon> format_clear</mat-icon></button>&nbsp;
      <button mat-raised-button  class="dwnldbtn"  (click)="dwnldfilteredrequest()" >
        <mat-icon>cloud_download</mat-icon></button>&nbsp;

    </div>

  </div>
  <div class="row" >
    <div class="col-md-12">
<!--      <ag-grid-angular-->
<!--        style="width: 100%; height: 100%;"-->
<!--        class="ag-theme-alpine"-->
<!--        [columnDefs]="columnDefs"-->
<!--        [suppressRowClickSelection]="true"-->
<!--        [rowData]="rowData"-->
<!--        (gridReady)="onGridReady($event)"-->
<!--      ></ag-grid-angular>-->



      <ag-grid-angular style="height: 400px;width: 90%;margin-left: 5%;" class="ag-theme-balham" [scrollbarWidth]="8" [headerHeight]="30"
                       rowSelection="multiple"
                       (rowSelected)="activitySelected($event)" (gridReady)="onGridReady($event)"
                       [rowHeight]="35" [rowData]="rowData" (cellClicked)="onGridCellClicked($event)"
                       [columnDefs]="columnDefs" enableCellTextSelection=true>
      </ag-grid-angular>
    </div>
  </div>
</div>
