<h2 class="text-center">Add your prescription drugs</h2>
<div class="container container-box">
  <div class="d-flex">
    <div class="add-drugs-info p-4 w-100">
      <div class="drug-main-input-wrapper d-flex">
        <div>
          <!--      <app-time-line [curentWorkStageId]="2"></app-time-line>-->
          <h3>Drug Name (Begin Typing)</h3>
        </div>
        <div>
          <button mat-raised-button color="primary" (click)="open()">Browse Drugs (A-Z)</button>
        </div>
      </div>

      <div class="row mb-3">
        <div class="d-flex">
          <form class="example-form w-100">
            <input type="text" class="mat-in" placeholder="Search"
                   matInput
                   (input)="getDrugs($event)"
                   [formControl]="drugname"
                   [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="change($event)"
                              [displayWith]="_displayplantname">
              <mat-option *ngFor="let option of drugs" [value]="option">
                {{option.name}}
              </mat-option>
            </mat-autocomplete>
          </form>
        </div>
      </div>
      <div *ngIf="itemName.length != 0" class="drug-dosage-info">
        <div class="d-flex col-12 p-2 px-3 drug-dosage-head">
          <h3>You can edit the information below.</h3>
        </div>
        <div class="px-3 pt-3 selected-drug-label">
          <p>Selected Drug : <strong>{{itemName}}</strong></p>
        </div>
        <form [formGroup]="drugForm" *ngIf="itemName.length != 0">
          <div class=" px-2 pb-3 drug-dosage-info-inputs">
            <div class="p-2">
              <p>Dosage</p>
              <mat-select placeholder="Select" formControlName="dosage" (selectionChange)="dosageChange($event)">
                <mat-option *ngFor="let option of dosages" [value]="option">
                  {{option.strength}} {{option.dosage_form}}
                </mat-option>
              </mat-select>
            </div>
            <div class=" p-2" *ngIf="packages.length != 0">
              <p>Package</p>
              <mat-select placeholder="Select" formControlName="packageDescription" (selectionChange)="packageChange($event)">
                <mat-option *ngFor="let option of packages" [value]="option">
                  {{option.package_description}}
                </mat-option>
              </mat-select>
            </div>
            <div class="p-2">
              <p>Quantity</p>
              <input type="tel" formControlName="quantity"
                     [ngClass]="{'ng-invalid-input': quantity.touched && quantity.invalid}">
              <div class="invalid-feedback d-flex" *ngIf="quantity.touched && quantity.invalid">
                The entered quantity is not valid.
              </div>
            </div>
            <div class="p-2">
              <p>Frequency</p>
              <mat-select placeholder="Select" formControlName="frequency" value="Every month">
                <mat-option value="{{freq.name}}" *ngFor="let freq of frequency">
                  {{freq.name}}
                </mat-option>
              </mat-select>
            </div>
          </div>
        </form>
        <div class="d-flex col-8 px-3 pb-4 mt-2 add-dosage-action">
          <button mat-raised-button color="secondary" class="cancel-dosage-btn" (click)="cancelDrug()">Cancel</button>

          <button mat-raised-button color="primary" class="ms-2 add-dosage-btn" (click)="addDrug()">
            Add to My Drug List
          </button>
        </div>
      </div>
      
      <!--  <app-bottom-bar></app-bottom-bar>-->

    </div>
  </div>
</div>

<ng-template #generic>
  <div class="container-fluid keep-drug-brand-popup">
    <h3 style="font-weight: 500">You have selected {{itemName}}</h3>
    <p>A lower generic is available for the drug you selected.</p>
    <div class="d-inline-flex py-2 w-100 selected-drug-radio">
      <div class="d-inline-flex py-2 keep-the-drug">
        <input type="radio" class="radio me-2" checked name="radioGroup" (change)="rxcuichange(item)" value="{{item}}"> Keep {{itemName}}
      </div>
      <div class="d-inline-flex py-2 ps-2 flex-wrap">
        <input type="radio" class="radio me-2" name="radioGroup" (change)="rxcuichange(item.generic)" value="{{item.generic}}"> Use lower cost generic:<span class="d-block">{{item.generic.name}}</span>
      </div>
    </div>
    <div class="popup-action justify-content-end d-flex">
      <button mat-raised-button color="secondary" class="me-2" (click)="close()">Close</button>
      <button mat-raised-button color="primary" class="" (click)="cancel()">Continue</button>
    </div>



  </div>
</ng-template>
<div *ngIf="rowData.length !=0" class="py-2 custom-table-wrapper">
  <div class="d-flex col-12 pb-2">
    <h3 class="mb-0 prescription-drugs-title">Your Prescription Drugs</h3>
  </div>
  <div class="d-flex col-12 pb-2 justify-content-center">
    <ag-grid-angular style="width: 100%;height: auto" class="ag-theme-alpine"
                     [scrollbarWidth]="8" [headerHeight]="35"
                     rowSelection="multiple" (cellClicked)="onGridCellClicked($event)"
                     (gridReady)="onGridReady($event)"
                     [rowHeight]="35" [rowData]="rowData" domLayout='autoHeight'
                     [columnDefs]="columnDefs" [getRowHeight]="getRowHeight">
    </ag-grid-angular>
  </div>
</div>

<div class="d-flex py-2 justify-content-stretch add-drugs-actions">
  <button mat-raised-button color="secondary" (click)="navPlans()" *ngIf="rowData.length !=0">See Plans without drugs</button>
  <button mat-raised-button color="primary" (click)="addPharmacy()">
    Continue <mat-icon class="ms-2">arrow_forward</mat-icon>
  </button>
</div>
