p{
  text-align: center;
font-size: 15px
}
.card {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 20px;
}
.notification {
  background-color: #ff0000;
  color: #ffffff;
  padding: 10px;
  border-radius: 4px;
}
select {
  background-color: white;
  height: 30px;
  border: #B8C0D4 1px ridge;
  border-radius: 5px;
  padding: 4px;
  width: 100%;
}
.selected {
  background-color: #0e0e87;
  color: white;
  font-weight: bold;
}
ul {
  list-style-type: none;
}
.li-card{
  width: 90%;
}
.offcanvas-title{
  font-weight: 500;
  font-size: x-large;
}
.side-img img{
  width: 92%;
}
.container{
  padding: 0;
  margin: 0;
}
h3{
  font-size: 18px;
  font-weight: 400;
}
.radio{
  width: 12%;
  height: 16px;
  border-radius: 3px;
  border: #B8C0D4 solid 1px;
}
.selected-drug-radio .radio{
    width: 16px;
}
.selected-drug-radio span{
    width: 100%;
    padding-left: 24px;
    font-weight: 500;
}
.keep-the-drug{
    font-weight: 500;
}
.add-drugs-info h2 {
  margin-bottom: 0;
  padding-bottom: 0;
}
.add-drugs-info h3{
  font-size: 15px;
  padding-top: 0 !important;
}
.prescription-drugs-title{
    font-weight: 500;
    font-size: 16px;
}
button {
  border-radius: 2px;
  font-weight: 400;
}
.drug-dosage-info {
  border: 1px solid #ddd;
  background: #fff;
}
.drug-dosage-info p{
    text-align: left;
    font-size: 15px;
}
.drug-dosage-head {
  border-bottom: solid 1px #ddd;
  padding: 10px 9px 8px 9px;
  background: #f7f7f7;
  font-weight: 400;
}
.drug-dosage-head h3{
    margin: 0
}
.add-dosage-btn {
  background: #3f51b5;
  color: #fff;
}
.cancel-dosage-btn {
  background-color: #4b8bb2;
  color: #fff;
}
.drug-dosage-info input, .drug-dosage-info select{
    padding: 0 10px;
}
.selected-drug-label{
    font-size: 15px;
}
.selected-drug-label strong {
  font-weight: 500;
  color: #3f51b5;
}
.drug-dosage-info input[type="number"] {
  height: 38px;
}

/deep/.cdk-overlay-pane {
  max-width: 500px !important;
}
/deep/.cdk-overlay-pane p {
    text-align: left;
}
/deep/.mat-dialog-container {
  background-color: #FAFAFA
}
/deep/.mat-dialog-container h3{
    font-weight: 500;
}
/deep/.mat-dialog-container .lower-gen-drug-caption {
  display: flex;
}
/deep/ .mat-dialog-container .lower-gen-drug-caption:before {
  content: "!";
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #5CB65F;
  border-radius: 15px;
  color: #5CB65F;
  margin-right: 10px;
  font-size: 13px;
  font-weight: 500
}
.ag-header-cell-text {
  overflow: unset;
  text-overflow: unset;
  width: auto;
}
.keep-the-drug{
    min-width: 150px;
}
.mat-input-element{
    border: #B8C0D4 solid 1px;
    background: #fff;
}
.mat-input-element:focus-visible {
  outline: 0 !important;
  box-shadow: 0 0 4px rgba(75, 139, 178, .9);
}
button[color="primary"] {
  background-color: #4b8bb2;
  color: #fff;
}
button[color="secondary"] {
  background-color: #4b8bb2;
  color: #fff;
}

