<div class="container">
  <div class="d-flex">
    <div class="col-3 side-img">
      <img src="../../../assets/sidepic.png" alt="">
    </div>
    <div class="col-9 add-drugs-info p-4">
      <h2>Add your prescription drugs</h2>
      <!--      <app-time-line [curentWorkStageId]="2"></app-time-line>-->
      <div class="d-flex col-5">
        <h3>Drug Name (Begin Typing)</h3>
      </div>
      <div class="row py-2 mb-3">
        <div class="d-flex col-3">
          <form class="example-form w-100">
            <input type="text" class="mat-in" placeholder="Search"
                   matInput
                   (input)="getDrugs($event)"
                   [formControl]="drugname"
                   [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="change($event)"
                              [displayWith]="_displayplantname">
              <mat-option *ngFor="let option of drugs" [value]="option">
                {{option.name}}
              </mat-option>
            </mat-autocomplete>
          </form>
        </div>
        <div class="d-flex col-3 ps-0">
          <button mat-raised-button color="primary" (click)="open()">Browse Drugs (A-Z)</button>
        </div>
      </div>
      <mat-divider class="mb-3"></mat-divider>
      <div *ngIf="itemName.length != 0" class="drug-dosage-info">
        <div class="d-flex col-12 p-2 px-3 drug-dosage-head">
          <h3>Edit the information to match your prescription.</h3>
        </div>
        <div class="px-3 pt-3 selected-drug-label">
          Selected Drug : {{itemName}}
        </div>
        <form [formGroup]="drugForm" *ngIf="itemName.length != 0">
          <div class="d-flex px-2 pb-3 drug-dosage-info">
            <div class="col-2 p-2">
              <p>Dosage</p>
              <mat-select placeholder="Select" formControlName="dosage" (selectionChange)="dosageChange($event)">
                <mat-option *ngFor="let option of dosages" [value]="option.dosage_form">
                  {{option.strength}} {{option.dosage_form}}
                </mat-option>
              </mat-select>
            </div>
            <div class="col-2 p-2" *ngIf="packages.length != 0">
              <p>Package</p>
              <mat-select placeholder="Select" formControlName="package" (selectionChange)="packageChange($event)">
                <mat-option *ngFor="let option of packages" [value]="option">
                  {{option.package_description}}
                </mat-option>
              </mat-select>
            </div>
            <div class="col-2 p-2">
              <p>Quantity</p>
              <input type="number" formControlName="quantity">
            </div>
            <div class="col-2 p-2">
              <p>Frequency</p>
              <mat-select placeholder="Select" formControlName="frequency">
                <mat-option value="Every month">
                  Every month
                </mat-option>
                <mat-option value="Every 2 month">
                  Every 2 months
                </mat-option>
                <mat-option value="Every 3 month">
                  Every 3 months
                </mat-option>
                <mat-option value="Every 6 month">
                  Every 6 months
                </mat-option>
                <mat-option value="Every 12 month">
                  Every 12 months
                </mat-option>
              </mat-select>
            </div>
          </div>
        </form>
        <div class="d-flex col-8 px-3 pb-4 mt-2 add-dosage-action">
          <button mat-raised-button color="danger" class="cancel-dosage-btn" (click)="cancelDrug()">Cancel</button>

          <button mat-raised-button class="ms-2 add-dosage-btn" (click)="addDrug()">
            Add
            Drug
          </button>
        </div>
      </div>
      <div *ngIf="rowData.length !=0" class="p-2">
        <div class="d-flex col-12 p-2">
          <h3>Your Prescriptions</h3>
        </div>
        <div class="d-flex col-12 p-2 justify-content-center">
          <ag-grid-angular style="width: 100%;margin-top: 1%;height: 30vh" class="ag-theme-alpine"
                           [scrollbarWidth]="8" [headerHeight]="35"
                           rowSelection="multiple" (cellClicked)="onGridCellClicked($event)"
                           (gridReady)="onGridReady($event)"
                           [rowHeight]="35" [rowData]="rowData"
                           [columnDefs]="columnDefs" >
          </ag-grid-angular>
        </div>
      </div>
      <div class="d-flex col-12  p-2 justify-content-end">
        <button mat-raised-button color="primary" (click)="navPlans()">See Plans without drugs</button>
        <button mat-raised-button style="background-color: #4b8bb2;color: white;" class="ms-2" (click)="addPharmacy()">
          Continue
        </button>
      </div>
      <!--  <app-bottom-bar></app-bottom-bar>-->

    </div>
  </div>

</div>

<ng-template #generic >
  <div class="container-fluid">
<h3 style="font-weight: 500">You have selected {{itemName}}</h3>
    <p>A lower generic is available for the drug you selected</p>
    <div class="d-flex p-2">
      <div class="d-flex col-6 p-2" >
        <input type="radio" class="radio me-2" name="radioGroup" (change)="rxcuichange(item.rxcui)" value="{{item.rxcui}}"> Keep {{itemName}}
      </div>
      <div class="d-flex col-6 p-2" >
        <input type="radio" checked class="radio me-2" name="radioGroup" value="{{item.generic.rxcui}}" (change)="rxcuichange(item.generic.rxcui)"> Use lower cost generic: {{item.generic.name}}
      </div>
    </div>
    <div class="d-flex p-2 justify-content-end drug-popup-action">
      <button mat-raised-button class="px-2 me-2"  (click)="cancel()">Cancel</button>
      <button mat-raised-button class="px-2" color="primary"  (click)="cancel()">Save</button>
    </div>
  </div>
</ng-template>
