<div class="toolbar">
<nav class="navbar navbar-expand-lg py-4 navbar-light shadow">
  <div class="container">
    <a class="navbar-brand .text-primary fs-1 fw-bold" href="#">Medicare</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor03">
    </div>
  </div>
  <div class="d-flex justify-content-end me-5" style="font-size: 12px" (click)="cart()" matBadge="{{number}}" matBadgeOverlap="false">
    <mat-icon>shopping_cart</mat-icon> Cart
  </div>
</nav>
</div>
