.capex-button{
  background-color: #0e5ea3;;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Abel', sans-serif;
}


.download-button{
  background-color: cornflowerblue;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Abel', sans-serif;
}


.upload-button{
  background-color: #4BB543;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Abel', sans-serif;
}

.clear-button{
  background-color: red;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Abel', sans-serif;
}
.container-fluid {
  background-image: linear-gradient( #147c9d, #57e6f1);
  position: absolute;
  height: 57%;
}
.screen-headings{
  background-color: #0e5ea3;
  padding: 7px;
  border-radius: 10px 0px 0 0;
  color: white;
  font-size: 20px;
  font-weight: 500;
  /* font-family: 'Abel', sans-serif; */
  font-family: FontAwesome;
  border: solid;
}
