<mat-tab-group>
  <mat-tab label="Budget">
    <app-all-budgets></app-all-budgets>
  </mat-tab>
  <mat-tab label="Capex">
    <div class="container-fluid">
      <br>
      <div class="row">
        <div class="col-md-12">
          <!-- <h1> <span class="screen-headings">All Budgets</span></h1> -->
          <p class="h">All Capex</p>
        </div>
      </div>
      <div style="height: 100vh">
        <div class="row">
          <div class="col-md-12">
            <mat-tab-group mat-align-tabs="start">
              <mat-tab label="In Process">
               <app-capex-budget-pending></app-capex-budget-pending>
              </mat-tab>
              <mat-tab label="Approved">
               <app-capex-budget-approved></app-capex-budget-approved>
              </mat-tab>
              <mat-tab label="Rejected">
                <app-capex-budget-submit></app-capex-budget-submit>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>

  </mat-tab>
</mat-tab-group>
