<div class="container">
  <div class="d-flex" style="height: 86vh">
    <!--<div class="col-3 side-img">
      <img src="../../../assets/sidepic.png" alt="">
    </div>-->
    <div class="col-12 px-3 pt-4">
      <div class="d-flex p-2">
        <div class="col-6">
          <span class="d-cost-label">Estimated Cost and Savings</span>
          <p>Plan - {{planName}}</p>
        </div>
        <div class="col-6 d-flex justify-content-end drug-cost-buttons">

          <div class="me-2 back-to-all">
            <button mat-raised-button color="primary" style="width:100%;" class="ms-2" (click)="plansNav()">
              <mat-icon>arrow_back</mat-icon>
              Back to all plans
            </button>
          </div>
          <div class="proposal-action-btns">
            <button mat-raised-button color="primary" [matTooltipPosition]="'above'"
                    matTooltip="Email">
              <mat-icon>email</mat-icon>
            </button>
            <button mat-raised-button color="primary" [matTooltipPosition]="'above'"
                    matTooltip="Download">
              <mat-icon>download</mat-icon>
            </button>
            <button mat-raised-button color="primary" [matTooltipPosition]="'above'"
                    matTooltip="Print">
              <mat-icon>print</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="p-2">
        <mat-accordion>
          <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
              <p class="main-panel-headers">Drug Details ( {{drugsSize}} Drugs Selected)</p>
            </mat-expansion-panel-header>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Sl. No.</th>
                  <th scope="col">Drug Name</th>
                  <th scope="col">Dosage</th>
                  <th scope="col">Package</th>
                  <th scope="col">Tier</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Frequency</th>
                  <th scope="col">Prior Authorization</th>
                  <th scope="col">Quantity Limit</th>
                  <th scope="col">Step Therapy</th>
                  <th scope="col">Covered</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let drug of dcomparedList ; let i = index">
                  <th scope="row">{{i+1}}</th>
                  <td>{{drug.drugName}}</td>
                  <td>{{drug.dosage}}</td>
                  <td>{{drug.packageDescription}}</td>
                  <td>{{drug.tier}}</td>
                  <td>{{drug.quantity}}</td>
                  <td>{{drug.frequency}}</td>
                  <td>
                    <p *ngIf="drug.prior_auth">Yes</p>
                    <p *ngIf="!drug.prior_auth">-</p>
                  </td>
                  <td>
                    <p *ngIf="drug.quantity_limit" style="color: #4b8bb2" matTooltipClass="custom-tooltip" matTooltip="Amount:{{drug.quantity_limit_amount}}
                    Days:{{drug.quantity_limit_days}}">Yes</p>
                    <p *ngIf="!drug.quantity_limit">-</p>
                  </td>
                  <td>
                    <p *ngIf="drug.step_therapy">Yes</p>
                    <p *ngIf="!drug.step_therapy">-</p>
                  </td>
                  <td>
                    <p class="covered-icon" *ngIf="drug.tier"><mat-icon>check</mat-icon></p>
                    <p class="not-covered-icon" *ngIf="!drug.tier"><mat-icon>close</mat-icon></p>
                  </td>
                  <!-- <td>
                    <p *ngIf="drug.tier ==0"><mat-icon style="color: red">close</mat-icon></p>
                    <p *ngIf="drug.tier !==0"><mat-icon style="color: green">check</mat-icon></p>
                  </td> -->
                </tr>


              </tbody>
            </table>
          </mat-expansion-panel>


          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <p class="panel-headers">Yearly Drug costs</p>
            </mat-expansion-panel-header>

            <table class="table w-justified">
              <thead>
                <tr>
                  <th scope="col" valign="middle">Drugs</th>
                  <th scope="col" *ngFor="let pharmname of drugcosts ">
                    <h4>{{pharmname.name}}</h4>
                    <small class="out-of-network" *ngIf="!pharmname.in_network">
                      <mat-icon>close</mat-icon>
                      <span>Out-of-network</span>
                    </small>
                    <small class="in-network" *ngIf="pharmname.in_network">
                      <mat-icon>check</mat-icon>
                      <span>In-network</span> <span *ngIf="pharmname.preferred">&nbsp; Preferred</span>
                      <span *ngIf="!pharmname.preferred">&nbsp; Standard</span>
                    </small>
                  </th>
                </tr>

              </thead>
              <tbody>
                <tr *ngFor="let cost of drugcosts[0]?.drug_costs; let i = index">
                  <td>{{ drugNameGetter(cost.ndc) }}</td>
                  <td *ngFor="let drucost of drugcosts">
                    ${{ drucost.drug_costs[i]?.estimated_yearly_total | number:'1.2-2' }}
                  </td>
                </tr>
                <tr class="total-yearly-dc">
                  <th scope="col" valign="middle">Total yearly drug costs</th>
                  <td scope="col" *ngFor="let pharmname of drugcosts">
                    <p>${{pharmname.estimated_yearly_total | number:'1.2-2'}}</p>
                  </td>
                </tr>
                <!--                <tr>-->
                <!--                  <td scope="row">Humalog kwikpen 100unit/ml solution pen injector</td>-->
                <!--                  <td>$3,118.75</td>-->
                <!--                  <td>$175.00</td>-->
                <!--                  <td>$175.00</td>-->
                <!--                  <td>$3,118.75</td>-->
                <!--                  <td>$210.00</td>-->
                <!--                  <td>$210.00</td>-->
                <!--                </tr>-->
                <!--                <tr>-->
                <!--                  <td scope="row">Total yearly drug cost</td>-->
                <!--                  <td>$6,072.05</td>-->
                <!--                  <td>$175.00</td>-->
                <!--                  <td>$175.00</td>-->
                <!--                  <td>$6,072.05</td>-->
                <!--                  <td>$210.00</td>-->
                <!--                  <td>$210.00</td>-->
                <!--                </tr>-->

              </tbody>
            </table>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <p class="panel-headers">Estimated total drug + Premium cost</p>
            </mat-expansion-panel-header>
            <table class="table w-justified">
              <thead>
                <tr>
                  <th scope="col" valign="middle"></th>
                  <th scope="col " *ngFor="let pharmname of drugcosts ">
                    <h4>{{pharmname.name}}</h4>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row">Total drug + Premium cost (for the rest of {{effYear}})</td>
                  <td *ngFor="let drucost of drugcosts">
                    ${{ drucost.estimated_yearly__drug_planPremium_total | number:'1.2-2' }}
                  </td>
                </tr>

              </tbody>
            </table>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <p class="panel-headers">Estimated monthly total drug cost</p>
            </mat-expansion-panel-header>
            <table class="table w-justified">
              <thead>
                <tr>
                  <th scope="col" valign="middle">Months</th>
                  <th scope="col" *ngFor="let pharmname of drugcosts ">
                    <h4>{{pharmname.name}}</h4>
                    <small class="out-of-network" *ngIf="!pharmname.in_network">
                      <mat-icon>close</mat-icon>
                      <span>Out-of-network</span>
                    </small>
                    <small class="in-network" *ngIf="pharmname.in_network">
                      <mat-icon>check</mat-icon>
                      <span>In-network</span> <span *ngIf="pharmname.preferred">&nbsp; Preferred</span>
                      <span *ngIf="!pharmname.preferred">&nbsp; Standard</span>
                    </small>
                  </th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cost of drugcosts[0]?.estimated_monthly_costs; let i = index">
                  <td>{{getMonthOnly(cost.date)}}</td>
                  <td *ngFor="let drucost of drugcosts">
                    ${{ drucost.estimated_monthly_costs[i]?.total | number:'1.2-2' }}
                  </td>
                </tr>


              </tbody>
            </table>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="p-2 mb-3">
        <div class="col-12">
          <div class="dcd-content p-3">
            <h3 class="mb-1">Estimated drug costs during coverage phases</h3>
            <p class="mb-1">The drug prices shown may vary based on the plan and pharmacy you've selected. Contact the plan if you have specific questions about drug costs.</p>
          </div>
        </div>
      </div>
      <div class="px-2 pb-4">
        <mat-accordion>
          <mat-expansion-panel (afterExpand)="getMonthlyTotals(drucost)" *ngFor="let drucost of drugcosts">
            <mat-expansion-panel-header>
              <p class="main-panel-headers">{{drucost.name}}  | Drug costs during coverage phases</p>
            </mat-expansion-panel-header>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Retail cost</th>
                  <th scope="col" *ngIf="checkPDP && has_deductible">Cost before deductible</th> <!-- condition to display cost befor deductible column -->
                  <th scope="col">Cost after deductible</th>
                  <th scope="col">Cost in coverage gap</th>
                  <th scope="col">Cost after coverage gap</th>
                </tr>
              </thead>
              <tbody >
                <tr *ngFor="let drug of drucost.drug_costs">
                  <th scope="row">{{ drugNameGetter(drug.ndc) }}</th>
                  <td>${{drug.full_cost | number:'1.2-2'}}</td>
                  <td>${{drug.deductible_cost}}</td>
                  <td>
                    <p *ngIf="drug.has_deductible">${{drug.deductible_cost | number:'1.2-2'}}</p>
                    <p *ngIf="!drug.has_deductible">${{drug.initial_cost | number:'1.2-2'}}</p>
                  </td>
                  <td>${{drug.gap_cost | number:'1.2-2'}}</td>
                  <td>${{drug.catastrophic_cost | number:'1.2-2'}}</td>
                </tr>
                <tr class="monthly-totals-tr">
                  <th scope="row">Monthly totals</th>
                  <td><p>${{retailCost | number:'1.2-2'}}</p></td>
                  <td><p>${{costBeforeDeductible | number:'1.2-2'}}</p></td>
                  <td><p>${{costAfterDeductible | number:'1.2-2'}}</p></td>
                  <td><p>${{costInCoverageGap | number:'1.2-2'}}</p></td>
                  <td><p>${{costAfterCoverageGap | number:'1.2-2'}}</p></td>
                </tr>
              </tbody>
            </table>
          </mat-expansion-panel>



        </mat-accordion>
      </div>

    </div>
  </div>
</div>
