.side-img img{
  width: 92%;
}
.container{
  padding: 0;
  margin: 0;
}
.d-cost-label{
  font-size: 18px;
  color: #4b8bb2;
  font-weight: 500;
}
.btn-icon{
  display: flex;
}
.btn-icon button{
  display: flow-root;
  margin: 0;
  padding: 0;
  border-radius: unset;
  border: solid 1px;
  height: 36px;
}
.btn-icon mat-icon{
  color: #4b8bb2;
}
.mat-expansion-panel{
  background:  white;
  margin-bottom: 15px;
}

.panel-headers{
  font-size: 16px;
  color: #252525;
  font-weight: 500;
}
.main-panel-headers{
  font-size: 15px;
  color: black;
  font-weight: 500;
}
.mat-expansion-panel {
  border-radius: 0;
  box-shadow: 0px 0px 3px 2px #E8E8E8 !important
}
.mat-expansion-panel-header {
  border-bottom: 1px solid #ddd;
}
.mat-expansion-panel-header p{
    margin-bottom: 0;
    font-weight: 600;
}
.mat-accordion .mat-expansion-panel:first-of-type{
    border-radius: 0 !important;
}
.mat-accordion table th {
  font-weight: 600;
  color: #252525;
  font-family: Lato,sans-serif !important;
}
.mat-accordion table.w-justified th {
  min-width: 160px;
  max-width: 220px;
}
.d-cost-label{
    font-size: 26px;  
}
.mat-accordion table {
  margin-bottom: 0;
}
.mat-accordion table td {
  font-size: 14px;
  padding: 10px !important;
}
.mat-accordion table tr:nth-child(even) {
  background-color: rgba(242,242,242,0.5);
}
/deep/.mat-expansion-panel-body{
    padding: 0 !important;
}
.drug-cost-buttons{
    align-items: flex-start;
}
.drug-cost-buttons .btn-icon {
  border: solid 1px #ddd;
}
.drug-cost-buttons .btn-icon button {
  background: #fff;
  border: 0;
  border-right: 1px solid #ddd;
  min-width: 39px;
}
.drug-cost-buttons .btn-icon button .mat-icon{
    font-size: 20px;
    line-height: 24px;
}
.drug-cost-buttons .btn-icon button:last-child{
    border-right: 0;
}
th small mat-icon {
  display: inline-flex;
  margin-right: 2px;
  font-size: 21px;
  font-weight: bold;
}
.in-network mat-icon {
  color: #12890e;
}
.out-of-network mat-icon {
  color: #ed0000;
}
th small span {
  font-size: 14px;
}
th small {
  clear: left;
  display: flex;
  width: 100%;
  margin-top: 5px;
  font-weight: normal;
}
th h4{
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 500;
}
.mat-expansion-panel td, mat-expansion-panel th{
    vertical-align: middle;
}
.d-cost-label {
  font-family: 'Merriweather', serif !important;
}
.dcd-content {
  background-color: #cae3f3;
  border-radius: 2px;
  border: 1px solid #aad0e9;
}
.dcd-content p, .dcd-content h3{
    color: #252525;
}
.dcd-content mat-icon {
  font-size: 14px;
  width: 14px;
  height: 14px;
  display: inline-block;
  margin-right: 2px;
}
.dcd-content a{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-top: 8px;
}
.total-yearly-dc p,
.monthly-totals-tr p {
    font-weight: 600;
    margin-bottom: 0;
    font-size: 14px;
}
.covered-icon mat-icon {
  font-size: 21px;
  margin-right: 5px;
  text-align: center;
  color: #12890e;
  font-weight: bold;
}
.not-covered-icon mat-icon{
    font-size: 21px;
    font-weight: 600;
    color: #ed0000;

}
::ng-deep .mat-tooltip {
    white-space: pre-line;
}
