<div class="container">
  <div class="row my-3 compare-top-links">
    <div class="col-6">
      <button mat-raised-button color="secondary" class="fw-normal"><mat-icon class=" text-center">arrow_back_ios</mat-icon><span>Back to Plan Listing</span></button>
    </div>
    <div class="col-6 d-flex justify-content-end">
      <button href="#" mat-raised-button color="primary" class="fw-normal" (click)="openCompareConfirm()"><mat-icon class="me-1">print</mat-icon><span>Print</span></button>
    </div>
  </div>
  <table class="table table-striped compare-main-th"  >
    <tr>
      <th></th>
      <th *ngFor="let pc of planCompare?.planDetail">
        <div class="compare-logo p-0 mb-2">
          <img src="../../assets/simplymore.png"  />
        </div>
        <h3>{{pc.planName}}</h3>
        <h5 class="c-price">$0.00</h5>
        <!--<p>Medicare Advantage and drug monthly premium</p>-->
        <div class="compare-item-actions p-0">
          <button mat-raised-button color="primary" class="btn" matTooltip="You can enroll in to the plan and derive the benefits mentioned below.">Enroll</button>
        </div>
        <span class="remove-plan-btn">
          <mat-icon>close</mat-icon>
        </span>
      </th>      
    </tr>
  </table>
  <!--<h4>Star Rating</h4>-->  
  <h4><input type="checkbox" matTooltip="Tooltip text placeholder"/>Key Benefits </h4>
  <table class="table table-striped" *ngFor="let pc of planCompare?.segment">
    <tr>
      <th><label><input type="checkbox" matTooltip="Tooltip text placeholder"/>Health deductible</label></th>
      <td><p>$0</p></td>
      <td><p>$0</p></td>
      <td><p>$0</p></td>
      <td><p>$0</p></td>
      <td><p>$0</p></td>
    </tr>
    <tr>
      <th><label><input type="checkbox" />Drug plan deductible</label></th>
      <td><p>$0.00</p></td>
      <td><p>$0.00</p></td>
      <td><p>$0.00</p></td>
      <td><p>$0.00</p></td>
      <td><p>$0.00</p></td>
    </tr>
    <tr>
      <th><label><input type="checkbox" />Maximum you pay for health services</label></th>
      <td><p>$3,450 In-network</p></td>
      <td><p>$3,450 In-network</p></td>
      <td><p>$11,000 In and Out-of-network<br />$6,500 In-network</p></td>
      <td><p>$0.00</p></td>
      <td><p>$0.00</p></td>
    </tr>
  </table>
  
</div>
