<mat-icon style="color: #4b8bb2" matTooltip="We use your ZIP Code to determine the carriers who can provide plans in your area." >info_outlined</mat-icon>

<div class="container">
  <table class="table">
    <tr>
      <th></th>
      <th>
        <h3>Simply More (HMO)</h3>
        <h5 class="c-price">$0.00</h5>
        <p>Medicare Advantage and drug monthly premium</p>
        <button mat-raised-button color="primary" class="btn">Enroll</button>
        <button mat-raised-button color="secondary" class="btn">Plan Details</button>

      </th>
      <th>
        <h3>Alignment Health Platinum (HMO-POS)</h3>
        <h5 class="c-price">$0.00</h5>
        <p>Medicare Advantage and drug monthly premium</p>
        <button mat-raised-button color="primary" class="btn">Enroll</button>
        <button mat-raised-button color="secondary" class="btn">Plan Details</button>
      </th>
      <th>
        <h3>Simply Freedom (PPO)</h3>
        <h5 class="c-price">$0.00</h5>
        <p>Medicare Advantage and drug monthly premium</p>
        <button mat-raised-button color="primary" class="btn">Enroll</button>
        <button mat-raised-button color="secondary" class="btn">Plan Details</button>
      </th>
      <th>
        <h3>BlueMedicare Premier (HMO)</h3>
        <h5 class="c-price">$0.00</h5>
        <p>Medicare Advantage and drug monthly premium</p>
        <button mat-raised-button color="primary" class="btn">Enroll</button>
        <button mat-raised-button color="secondary" class="btn">Plan Details</button>
      </th>
    </tr>
  </table>
  <table class="table table-striped">
    <tr>
      <th><label>Star rating</label></th>
      <td>
        <div class="rating-stars me-2">
          <mat-icon>grade</mat-icon>
          <mat-icon>grade</mat-icon>
          <mat-icon>grade</mat-icon>
          <mat-icon>grade</mat-icon>
          <mat-icon>star_half</mat-icon>
        </div>
      </td>
      <td>
        <div class="rating-stars me-2">
          <mat-icon>grade</mat-icon>
          <mat-icon>grade</mat-icon>
          <mat-icon>grade</mat-icon>
          <mat-icon>grade</mat-icon>
          <mat-icon>star_half</mat-icon>
        </div>
      </td>
      <td>
        <div class="rating-stars me-2">
          <mat-icon>grade</mat-icon>
          <mat-icon>grade</mat-icon>
          <mat-icon>grade</mat-icon>
          <mat-icon>grade</mat-icon>
          <mat-icon>star_half</mat-icon>
        </div>
      </td>
      <td>
        <div class="rating-stars me-2">
          <mat-icon>grade</mat-icon>
          <mat-icon>grade</mat-icon>
          <mat-icon>grade</mat-icon>
          <mat-icon>grade</mat-icon>
          <mat-icon>star_half</mat-icon>
        </div>
      </td>
    </tr>
    <tr>
      <th><label>Health deductible</label></th>
      <td><p>$0</p></td>
      <td><p>$0</p></td>
      <td><p>$0</p></td>
      <td><p>$0</p></td>
    </tr>
    <tr>
      <th><label>Drug plan deductible</label></th>
      <td><p>$0.00</p></td>
      <td><p>$0.00</p></td>
      <td><p>$0.00</p></td>
      <td><p>$0.00</p></td>
    </tr>
    <tr>
      <th><label>Maximum you pay for health services</label></th>
      <td><p>$0.00</p></td>
      <td><p>$0.00</p></td>
      <td><p>$0.00</p></td>
      <td><p>$0.00</p></td>
    </tr>

  </table>
</div>

