h2 {
  font-size: 30px;
  margin-bottom: 0;
}
h4{
    font-size: 18px;
    background: #e1e5fb;
    padding: 10px 15px;
    margin-bottom: 0;
    color: #0f1e6c;
    display: flex;
    align-items: center;
}
h4 input[type="checkbox"]{
    width: 16px;
    height: 16px;
    margin-right: 5px;
}
th label input[type="checkbox"] {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 0;
  margin-top: 3px;
}
th label{
    position: relative;
    padding-left: 22px;
}
.mat-expansion-panel {
  border-radius: 2px;
  box-shadow: none;
  margin-bottom: 15px;
  border: 1px solid #c7d5ff;
}

.mat-expansion-panel {
  background: #fff;
}

.mat-expansion-panel-header-title {
  font-weight: 500;
  font-size: 20px;
}

table {
  background: #FFF;
  border: 1px solid rgba(0,0,0,.05);
  table-layout: fixed;
}
table a{
    text-decoration: none;
}
th {
  padding: 10px 15px;
  border-right: 1px solid rgba(0,0,0,.1);
}

.table-striped tr:nth-of-type(odd), .compare-head {
  background-color: rgba(136, 155, 183, .05);
}
.compare-head {
  padding: 10px 15px;
  text-align: center;
  background: #3f51b5;
  color: #fff;
}

.table-striped td {
  border-right: 1px solid rgba(0,0,0,.05);
  font-size: 16px;
  padding: 10px 15px;
}

.table-striped td p,
.table-striped td li {
  font-size: 16px;
  color: #555;
}

.table-striped td p {
  margin-bottom: 0;
  line-height: 26px;
}

.table-striped th label {
  font-weight: 600;
  font-size: 16px;
}

.rating-stars mat-icon {
  color: #f9c800;
}

.table-striped td {
  border-right: 1px solid rgba(0,0,0,.05);
}

.table-striped ul {
  list-style: none;
  padding: 0;
  margin: 0 0 15px;
}

.table-striped ul li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.table-striped ul mat-icon {
  color: green;
  margin-right: 5px;
}

.table-striped .cancel-icon mat-icon {
  color: red;
}

.additional-benfits-btn {
  border: 1px solid #4b8bb2;
  border-radius: 3px;
  color: #4b8bb2;
  padding: 5px 20px;
  margin-bottom: 10px;
  display: inline-block;
  text-decoration: none;
  font-size: 15px;
}

.table-headings {
  background-color: #dae6f1;
  border-top: 1px solid #cad4dd;
  border-bottom: 1px solid #cad4dd;
}

.compare-main-th button {
  line-height: normal;
  border-radius: 2px;
  padding: 5px 15px;
  font-size: 15px;
  box-shadow: none;
}

.compare-item-actions {
  display: flex;
  gap: 5px;
  justify-content: flex-start;
}

.compare-main-th {
  position: sticky;
  top: 0;
  background-color: #FFF;
  z-index: 1;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, .03);
}
.compare-main-th th{
    position: relative;
    padding-bottom: 53px;
}
.compare-main-th .compare-item-actions{
    position: absolute;
    bottom: 15px;
}
.compare-main-th button[color="primary"]:hover {
  background-color: #3f51b5;
  color: #fff;
}

.compare-main-th button[color="secondary"] {
  background-color: #4b8bb2;
  color: #fff;
}

.compare-main-th p, .compare-main-th h5, .compare-main-th h3 {
  padding: 0;
  margin-bottom: 12px;
}

.compare-main-th p {
  font-weight: normal;
}

.compare-main-th h3 {
  font-weight: 600;
  font-size: 17px;
  min-height: 42px;
  line-height: normal;
}

.compare-main-th h5 {
  color: #3f51b5;
  font-size: 18px;
}

.compare-main-th th {
  vertical-align: top;
  position: relative;
  background-color: #fff;
}

.compare-main-th th .remove-plan-btn {
  position: absolute;
  right: 3px;
  top: 2px;
  padding: 0;
  font-size: 16px;
  cursor: pointer;
}

.compare-main-th th .remove-plan-btn mat-icon {
  font-size: 19px;
  font-weight: 500;
  height: 17px;
  width: 17px;
  color: #8f8f8f;
}
.compare-top-links button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.compare-top-links .mat-button-wrapper{
    display: flex;
    align-items: center;
}
.compare-top-links button mat-icon {
  font-size: 18px;
  display: inline-flex;
  align-items: center;
}
.compare-pharmacy-items, .compare-pharmacy-items li:last-child{
    margin-bottom: 0 !important;
}
.compare-pharmacy-items li{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}
.compare-pharmacy-items li h5, .compare-pharmacy-items li small, .compare-pharmacy-items li p{
    flex-basis: 100%;
}
.compare-pharmacy-items li small{
    display: flex;
    align-items: center;
}
.compare-pharmacy-items li h5{
    margin-bottom: 0;
    font-family: Lato,sans-serif !important;
    font-size: 16px;
    font-weight: 600;
}
.compare-logo img{
    height: 36px;
    width: auto;
}
.category-close{
    padding: 0;
    border: 0;
    background: transparent;
    display: flex;
}
.star-rating {
  font-size: 24px;
}

.star-rating span {
  display: inline-block;
  width: 24px;
  height: 20px;
  background-color: transparent;
  background-image: url('../../../assets/empty.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.star-rating span.filled {
  background-image: url('../../../assets/full.png');
}

.star-rating span.half-filled {
  background-image: url('../../../assets/half.png');
}