<h3>Covered drug details</h3>
<table class="table">
  <thead>
    <tr >
      <th scope="col">Sl. No.</th>
      <th scope="col">Drug Name</th>
      <th scope="col">Dosage<br />Form Name</th>
      <th scope="col">Package<br />Type</th>
      <th scope="col">Quantity</th>
      <th scope="col">Frequency</th>
      <th scope="col">Tier</th>
      <th scope="col">Covered</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let drug of drugsArray; let i = index">
      <td scope="row">{{i+1}}</td>
      <td>{{drug.drugName}}</td>
      <td>{{drug.dosage}}</td>
      <td>{{drug.package}}</td>
      <td>{{drug.quantity}}</td>
      <td>{{drug.frequency}}</td>
      <td>{{drug.tier}}</td>
      <td>
        <p *ngIf="drug.tier>0">Yes</p>
        <p *ngIf="drug.tier==0">No</p>
      </td>  
    </tr>
  </tbody>
</table>
<button class="btn btn-primary" (click)="close()"><mat-icon>close</mat-icon></button>
<div class="d-flex justify-content-end popup-action">
  <button mat-raised-button color="primary" (click)="drugPage()">Edit</button>
</div>

