<h3>Covered drug details</h3>
<table class="table">
  <thead>
    <tr >
      <th scope="col">Sl. No.</th>
      <th scope="col">Drug Name</th>
      <th scope="col">Dosage<br />Form Name</th>
      <th scope="col">Package<br />Type</th>
      <th scope="col">Quantity</th>
      <th scope="col">Frequency</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let drug of drugsArray; let i = index">
      <th scope="row">{{i}}</th>
      <td>{{drug.drugName}}</td>
      <td>{{drug.dosage}}</td>
      <td>{{drug.dosage}}</td>
      <td>{{drug.quantity}}</td>
      <td>{{drug.frequency}}</td>
    </tr>
  </tbody>
</table>
<button class="btn btn-primary" (click)="close()">Close</button>
