<h3>Edit plans popup</h3>
<div class="row mb-3">
  <div class="col-md-6">
    <div class="form-group">
      <label>Zipcode</label>
      <input type="text" class="form-control" placeholder="Enter Zip code">
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label>County</label>
      <mat-select placeholder="Select county">
        <mat-option>
          Perry
        </mat-option>
        <mat-option>
          Randolph
        </mat-option>
        <mat-option>
          Sainte Genevieve
        </mat-option>
      </mat-select>
    </div>
  </div>
</div>
<div class="row mb-3">
  <div class="col-md-6">
    <div class="form-group">
      <label>LIS</label>
      <mat-select placeholder="LIS"   >
        <mat-option value="LIS_NO_HELP">
          None
        </mat-option>
        <mat-option value="LIS_LEVEL_4_25">
          25%
        </mat-option>
        <mat-option value="LIS_LEVEL_4_50">
          50%
        </mat-option>
        <mat-option value="LIS_LEVEL_4_75">
          75%
        </mat-option>
        <mat-option value="LIS_LEVEL_4_100">
          100%
        </mat-option>
      </mat-select>
      </div>
    </div>
  <div class="col-md-6">
    <div class="form-group">
      <label>Effective year</label>
      <mat-select placeholder="2024">
        <mat-option>
          2023
        </mat-option>
        <mat-option>
          2024
        </mat-option>
      </mat-select>
    </div>
  </div>
  </div>
<button class="btn btn-primary" (click)="close()"><mat-icon>close</mat-icon></button>
