td{
  font-size: 12px;
}
th{
  font-size: small;
}
mat-button-toggle-group{
}

mat-button-toggle button span {
  line-height: 16px !important;
}
.ag-header-cell-text {
  overflow: unset;
  text-overflow: unset;
  width: auto;
}

