<div class="container customer-360-wrapper">
  <div class="row">
    <div class="col-12 c360-main-action">
      <button mat-raised-button color="secondary"><mat-icon>event_note</mat-icon>Quick quote</button>
      <button mat-raised-button color="primary" (click)="addCustomerForm()"><mat-icon>person_outline</mat-icon>Add customer</button>
    </div>
  </div>
  <div class="c360-form-wrapper container-box" *ngIf="showAddCustomerForm">
    <div class="c360-form-item">
      <div class="row">
        <h3>Basic Info</h3>
      </div>
      <div class="row">
        <div class="col-md-3">
          <label>First name</label>
          <input type="text" name="name" value="" />
        </div>
        <div class="col-md-3">
          <label>Middle name</label>
          <input type="text" name="name" value="" />
        </div>
        <div class="col-md-3">
          <label>Last name</label>
          <input type="text" name="name" value="" />
        </div>
        <div class="col-md-3">
          <label>Prefix</label>
          <mat-form-field>
            <mat-select>
              <mat-option value="option1">
                Miss
              </mat-option>
              <mat-option value="option2">
                Mr.
              </mat-option>
              <mat-option value="option3">
                Ms.
              </mat-option>
              <mat-option value="option3">
                Mrs.
              </mat-option>
              <mat-option value="option3">
                Dr.
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <label>Suffix</label>
          <mat-form-field>
            <mat-select>
              <mat-option value="option1">
                Jr.
              </mat-option>
              <mat-option value="option2">
                Sr.
              </mat-option>
              <mat-option value="option3">
                II
              </mat-option>
              <mat-option value="option3">
                III
              </mat-option>
              <mat-option value="option3">
                IV
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <label>Gender</label>
          <mat-form-field>
            <mat-select>
              <mat-option value="option1">
                Male
              </mat-option>
              <mat-option value="option2">
                Female
              </mat-option>

            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <label>Date of birth</label>
          <input type="text" name="name" value="" />
        </div>
        <div class="col-md-3">
          <label>Email</label>
          <input type="text" name="name" value="" />
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <label>Written Language</label>
          <mat-form-field>
            <mat-select>
              <mat-option value="option1">
                English
              </mat-option>
              <mat-option value="option2">
                Spanish
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <label>Spoken Language</label>
          <mat-form-field>
            <mat-select>
              <mat-option value="option1">
                English
              </mat-option>
              <mat-option value="option2">
                Spanish
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <label>Where did you hear about us from?</label>
          <mat-form-field>
            <mat-select>
              <mat-option value="option1">
                Referral
              </mat-option>
              <mat-option value="option2">
                TV
              </mat-option>
              <mat-option value="option2">
                Radio
              </mat-option>
              <mat-option value="option2">
                Google Search Bar
              </mat-option>
              <mat-option value="option2">
                Facebook
              </mat-option>
              <mat-option value="option2">
                Youtube
              </mat-option>
              <mat-option value="option2">
                Post Card Mailer
              </mat-option>
              <mat-option value="option2">
                Physical Newspaper
              </mat-option>
              <mat-option value="option2">
                Newsapaper - Online Digital
              </mat-option>
              <mat-option value="option2">
                Renewal
              </mat-option>
              <mat-option value="option2">
                Others
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="c360-form-item">
      <div class="row">
        <h3>Home Address (Do not use PO box numbers)</h3>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label>Enter your address</label>
          <input type="text" name="name" value="" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <label>Zip</label>
          <input type="text" name="name" value="" />
        </div>
        <div class="col-md-3">
          <label>County</label>
          <input type="text" name="name" value="" />
        </div>
        <div class="col-md-3">
          <label>City</label>
          <input type="text" name="name" value="" />
        </div>
        <div class="col-md-3">
          <label>State</label>
          <input type="text" name="name" value="" />
        </div>
      </div>
    </div>

    <div class="c360-form-item">
      <div class="row mx-0">
        <div class="c360-checkbox d-flex">
          <input type="checkbox" name="name" value="" />
          <label>Is the mailing address same as Home address?</label>
        </div>
      </div>
      <div class="row">
        <h3>Mailing address</h3>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label>Enter your address</label>
          <input type="text" name="name" value="" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <label>Zip</label>
          <input type="text" name="name" value="" />
        </div>
        <div class="col-md-3">
          <label>County</label>
          <input type="text" name="name" value="" />
        </div>
        <div class="col-md-3">
          <label>City</label>
          <input type="text" name="name" value="" />
        </div>
        <div class="col-md-3">
          <label>State</label>
          <input type="text" name="name" value="" />
        </div>
      </div>
    </div>



    <div class="c360-form-item">
      <div class="row">
        <h3>Contact Information</h3>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label>Phone</label>
          <input type="text" name="name" value="" />
        </div>
        <div class="col-md-6">
          <label>Phone Type</label>
          <mat-form-field>
            <mat-select>
              <mat-option value="option1">
                Work
              </mat-option>
              <mat-option value="option2">
                Home
              </mat-option>
              <mat-option value="option2">
                Cell
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label>Phone</label>
          <input type="text" name="name" value="" />
        </div>
        <div class="col-md-6">
          <label>Phone Type</label>
          <mat-form-field>
            <mat-select>
              <mat-option value="option1">
                Work
              </mat-option>
              <mat-option value="option2">
                Home
              </mat-option>
              <mat-option value="option2">
                Cell
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-12 d-flex justify-content-end mb-2">
          <button mat-raised-button color="secondary" class="sm-btn"><mat-icon>remove</mat-icon>Remove phone number</button>
        </div>

      </div>
      <div class="row">
        <div class="col-12 d-flex justify-content-end mb-0">
          <button mat-raised-button color="primary" class="sm-btn"><mat-icon>add</mat-icon>Add phone number</button>
        </div>

      </div>
    </div>
    <div class="c360-form-item">
      <div class="row">
        <div class="col-md-6 mb-sm-2">
          <label>Do you want to complete scope of appointment?</label>
          <div class="c360-main-radio d-flex align-items-center">
            <div class="radio-item d-flex align-items-center">
              <input type="radio" />
              <label class="mb-0">Yes</label>
            </div>
            <div class="radio-item d-flex align-items-center">
              <input type="radio" />
              <label class="mb-0">No</label>
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex justify-content-end c360-form-main-actions">
          <button mat-raised-button color="secondary">Cancel</button>
          <button mat-raised-button color="primary">Save</button>
        </div>
      </div>
    </div>
  </div>
    <table class="table table-striped">
      <tr>
        <th>Customer</th>
        <th>Date of birth</th>
        <th>Phone</th>
        <th>Created date</th>
        <th>Actions</th>
      </tr>
      <tr>
        <td>John Doe <span>(M)</span></td>
        <td>01-01-1955</td>
        <td>
          <ul>
            <li><mat-icon>work</mat-icon>+00987654321</li>
            <li><mat-icon>home</mat-icon>+00987654322</li>
            <li><mat-icon>smartphone</mat-icon>+00987654323</li>
          </ul></td>
        <td>01-01-2023</td>
        <td>
          <div class="table-actions px-0">
            <div class="dropdown">
              <button (click)="toggleDropdown()" class="dropbtn"><mat-icon>playlist_add</mat-icon></button>
              <div [ngClass]="{'dropdown-content': true, 'show': isDropdownOpen}">
                <a href="#">Create quote</a>
              </div>
            </div>

            <button class="c360-delete" mat-raised-button matTooltip="Delete" aria-label="Delete" (click)="openConfirmationPopup()"><mat-icon>delete_outline</mat-icon></button>
          </div>
        </td>
      </tr>
    </table>
  </div>
