.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #333;
  color: #fff;
  padding: 20px;
}
/deep/ .mat-tab-label{
  min-width: 120px !important;
  color: white;
}
mat-expansion-panel-header{
  background-color:#4b8bb2 ;
color: black;
}
/*.mat-expansion-panel-header.mat-expanded,*/
/*.mat-expansion-panel-header.mat-expanded:hover {*/
/*  background: #4b8bb2;*/
/*}*/
/*/deep/ .mat-expansion-panel-header .mat-expanded{*/
/*  background-color: #4b8bb2;*/
/*}*/
.panel-headers{
  font-weight: 500;
  color: white;
  padding: 10px;
  font-size: 15px;

}
.sort-list input{
  width: 30% !important;
  height: 20px;
  border-radius: 3px;
}
mat-slider {
  width: 300px;
}
.exp-sub{
  padding-left: 10px;
  font-size: 15px;
}
.sort{
  font-size: 15px;
}
.pricevaluesliderValue{
  width: 60%;
}
.form-check-label{
  padding-left: 10px;
  font-size: 13px;
}
.sidebar-content-wrapper{
  padding: 0 15px;
}
.sidebar-content-wrapper .panel-headers{
  font-weight: normal;
  font-size: 15px;
  margin-bottom: 0;
}
p.exp-sub{
  font-size: 13px;
  color: #fff;
  font-weight: 300;
}
.mat-raised-button{
  font-weight: 300;
}
.mat-expansion-panel-spacing{
  margin: 0;
}
.add-drugs-docs button{
  border-radius: 0;
  font-size: 13px;
  height: 45px;
  border-bottom: solid 1px rgba(255,255,255,.4);
  box-shadow: none;
}
.mat-tab-label-active{
  color: #fff;
  background-color: #3c6f8e !important;
  opacity: 1;
}
.mat-focus-indicator > span:after{
  color: #fff !important;
}
input[type="text"]{
  height: 36px;
}
label{
  font-size: 13px;
  font-weight: 300;
  color: #fff;
}
.form-check-input{
  margin-top: 2px;
}
.sidebar-top h3{
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  line-height: 22px;
  margin-bottom: 0;
  display: inline-block;
  word-break: break-word;
}
.refresh-btn{
  max-width: 64px;
}
.sidebar-top h3 strong{
  font-size: 30px;
  font-weight: 500;
}
.sidebar-top mat-icon{
  font-size: 30px;
}
.sidebar-top{
  background-color: #3c6f8e;
}
.sidebar-top > div{
  justify-content: space-between;
}
.sort > div{
  font-size: 13px;
  font-weight: 300 !important;
}
.sort input[type="radio"]{
  max-width: 20px;
  margin-right: 10px;
}
.filter-go-btn button{
  border-radius: 3px;
  box-shadow: none;
  font-weight: 500;
  color: white;
  background-color:#ffd543
}
/deep/.mat-expansion-indicator::after{
    color: #fff;
}
mat-expansion-panel .form-check-input[type="checkbox"] {
  width: 15px;
  height: 15px;
  min-width: 15px;
}
.sidebar-filter-actions button{
    border-radius: 2px;
    height: 32px;
    line-height: 32px;
}
.sidebar-filter-actions {
  border-top: 1px solid rgba(255, 255, 255, .3);
  padding-top: 8px;
  justify-content: flex-end;
  margin-top: 5px;
}
.sidebar-filter-actions button[color="primary"]{
    margin-right: 5px;
}
.add-doctors-btn{
  opacity: .4;
  pointer-events: none;
}
mat-expansion-panel input[type="input"],
mat-expansion-panel input[type="radio"]{
    margin-left: 3px;
}
.refresh-btn button {
  background: transparent;
  border: 0;
  color: #fff;
}
