.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

/deep/ .mat-tab{
  min-width: 120px !important;
  color: white;
  margin-bottom: 20px;
}

.mat-expansion-panel {
  margin-bottom: 10px;
  border-radius: 6px;
}
.mat-expansion-panel:first-of-type {
  margin-top: 20px;
}

.mat-accordion .mat-expansion-panel {
  border-radius: 6px;
}

mat-expansion-panel-header {
  background-color: #EAF0F2;
  color: black;
}

/*.mat-expansion-panel-header.mat-expanded,*/
/*.mat-expansion-panel-header.mat-expanded:hover {*/
/*  background: #4b8bb2;*/
/*}*/
/*/deep/ .mat-expansion-panel-header .mat-expanded{*/
/*  background-color: #4b8bb2;*/
/*}*/
.panel-headers {
  font-weight: 500;
  color: #005875;
  padding: 10px;
  font-size: 16px;
  margin: 0;

}

.sort-list input {
  width: 30% !important;
  height: 20px;
  border-radius: 3px;
}

mat-slider {
  width: 300px;
}

.exp-sub {
  padding-left: 10px;
  font-size: 15px;
}

.sort {
  font-size: 15px;
}

.pricevaluesliderValue {
  width: 60%;
}

.form-check-label {
  padding-left: 10px;
  font-size: 14px;
}

.sidebar-content-wrapper {
  padding: 0 15px;
}
/deep/.sidebar-content-wrapper .mat-tab-label-active{
  background-color:#fff;
}

/deep/ .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  background-color: #005875;
}
p.exp-sub {
  font-size: 13px;
  color: #fff;
  font-weight: 300;
}

.mat-raised-button {
  font-weight: 300;
}

.mat-expansion-panel-spacing {
  margin: 0;
}
.add-drugs-docs{
    padding: 20px 15px 10px;
}
.add-drugs-docs button {
  font-size: 16px;
  height: 45px;
}

.mat-tab-header {
  margin-bottom: 20px;
}

.mat-tab-label-active {
  color: #fff;
  background-color: #047500 !important;
  opacity: 1;
}

.mat-focus-indicator>span:after {
  color: #fff !important;
}

input[type="text"] {
  height: 36px;
}

label {
  font-size: 13px;
  font-weight: 300;
  color: #003648;
}

.form-check-input {
  margin-top: 2px;
}

.sidebar-top h3 {
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  line-height: 22px;
  margin-bottom: 0;
  display: inline-block;
  word-break: break-word;
}

.refresh-btn {
  max-width: 64px;
}

.sidebar-top h3 strong {
  font-size: 30px;
  font-weight: 500;
}

.sidebar-top mat-icon {
  font-size: 30px;
}

.sidebar-top {
  background-color: #005875;
  border-radius: 6px;
}

.sidebar-top>div {
  justify-content: space-between;
}
.sidebar-bottom-main{
    background: #fff;
    margin-top: 15px;
    border: 1px solid #005875;
    border-radius: 6px;
    box-shadow: 6px 6px 15px rgba(135, 135, 135, .35);
}
.side-img{
    background-color: transparent;
}
.sort > div {
  color: #003648;
  align-items: center;
}

.sort input[type="radio"] {
  max-width: 20px;
  margin-right: 10px;
}

.filter-go-btn button {
  border-radius: 3px;
  box-shadow: none;
  font-weight: 500;
  color: white;
  background-color: #ffd543
}

/deep/.mat-expansion-indicator::after {
  color: #005875;
}

mat-expansion-panel .form-check-input[type="checkbox"] {
  width: 15px;
  height: 15px;
  min-width: 15px;
}

.sidebar-filter-actions button {
  min-height: 32px;
  line-height: normal;
}

.sidebar-filter-actions {
  border-top: 1px dashed rgba(0, 113, 155, .4);
  padding-top: 12px;
  justify-content: flex-end;
  margin-top: 5px;
}

.sidebar-filter-actions button[color="primary"] {
  margin-right: 5px;
}

.add-doctors-btn {
  opacity: .4;
  pointer-events: none;
}

mat-expansion-panel input[type="input"],
mat-expansion-panel input[type="radio"] {
  margin-left: 3px;
}

.refresh-btn button {
  background: transparent;
  border: 0;
  color: #fff;
}
.mat-expansion-panel:not([class*=mat-elevation-z]){
    box-shadow: none !important;
}
.mat-expansion-panel{
    border-radius: 6px;
}
.mat-expansion-panel .mat-expansion-panel-header.cdk-keyboard-focused:not([aria-disabled=true]),
.mat-expansion-panel .mat-expansion-panel-header.cdk-program-focused:not([aria-disabled=true]),
.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]){
    background-color: #C1D8DF;
}
.mat-expansion-panel-header {
    padding: 0 15px 0 5px
}
 .mat-expansion-panel{
     background-color: #EAF0F2;
 }
.mat-expansion-panel-spacing.mat-expanded{
    margin-bottom: 10px;
}
.mat-expansion-panel-header.mat-expanded{
    height: 48px;
}
.mat-accordion > .mat-expansion-panel-spacing:first-child{
    margin-top: 20px;
}
/deep/.mat-tab-label .mat-tab-label-content {
  color: #005875;
}
