<!--<div class="container">-->
<!--  <div class="d-flex p-2 justify-content-end">-->
<!--      <button mat-raised-button color="warn">X</button>-->
<!--  </div>-->
<!--  <div class="card m-2 p-2">-->
<!--    <div class="error-popup">-->
<!--      <span class="error-message">Enter a valid ZIP code and select the relevant county to view the list of plans</span>-->
<!--    </div>-->
<!--  </div>-->

<!--</div>-->

<div class="container-fluid position-relative popup-body-wrapper">
  <div class="row">
    <div class="col-md-2 popup-close-btn" align="right">
      <button mat-dialog-close (click)="close()"><mat-icon>close</mat-icon></button>
    </div>
  </div>
  <div class="row">
    <div class="zipcode-val-popup-body px-0">
      <div class="alert-msg-icon">
        <mat-icon>highlight_off</mat-icon>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <p>{{data.customMsg}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-end mt-2 popup-btn" *ngIf="buttons">
    <button  mat-raised-button color="primary" class="mx-auto" (click)="continue()">Continue</button>
  </div>
</div>
