<!--<div class="container">-->
<!--  <div class="d-flex p-2 justify-content-end">-->
<!--      <button mat-raised-button color="warn">X</button>-->
<!--  </div>-->
<!--  <div class="card m-2 p-2">-->
<!--    <div class="error-popup">-->
<!--      <span class="error-message">Enter a valid ZIP code and select the relevant county to view the list of plans</span>-->
<!--    </div>-->
<!--  </div>-->

<!--</div>-->

<div class="container-fluid">
  <div class="row">
    <div class="col-md-10">

    </div>
    <div class="col-md-2 p-2" align="right">
      <button mat-dialog-close style="background-color: #131110; color: white;" (click)="close()">X</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="container-fluid  border border-warning">
        <br>
        <div class="row">
          <div class="col-md-12">
            <p style="font-weight:bold">Enter a valid ZIP code and select the relevant county to view the list of plans</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
