button {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

button.active {
  background-color: #005875;
  color: #fff; 
}
.bottom-bar{
  bottom: 0;
  position:absolute;
  width: -webkit-fill-available;
  margin-bottom: 10px;
}

button{
  border-radius: unset;
  height: 40px;
}

.side-img{
  background-color:#4b8bb2 ;
  /*height: calc(100vh - 77px);*/
  position: relative;
}
.side-img img{
  width: 92%;
}
.container{
  padding: 0 15px;
  margin: 0;
}
.zip-code-btn{
    border-radius: 6px 0 0 6px;
}
.customer-lookup-btn{
    border-radius: 0 6px 6px 0;
}
.customer-lookup-btn,
.zip-code-btn {
  font-weight: 400;
}
.zip-tab-btn-container{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
