
<div class="container">
  <div class="d-flex ms-1">

    <div class="col-12">
      <app-time-line></app-time-line>
      <button [ngClass]="{'active': button1Active}" (click)="toggleButton1()" style="border-radius: 5px 0px 0px 5px;">Zip Code</button>
      <button [ngClass]="{'active': button2Active}" (click)="toggleButton2()" style="border-radius: 0px 5px 5px 0px;">Customer Lookup</button>
      <app-zipcode-qouting *ngIf="button1Active" ></app-zipcode-qouting>
      <app-customer-qouting *ngIf="!button1Active"></app-customer-qouting>
    </div>

  </div>

<!--  <app-bottom-bar></app-bottom-bar>-->


</div>
