button {
  background-color: #ccc;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

button.active {
  background-color: #4b8bb2; /* Change to your desired active color */
  color: #fff; /* Change to your desired active text color */
}
.bottom-bar{
  bottom: 0;
  position:absolute;
  width: -webkit-fill-available;
  margin-bottom: 10px;
}

button{
  border-radius: unset;
  height: 40px;
}


.container{
  background-color: aliceblue;
  padding: 0px;
  margin: 2px;
}


.side-img{
  background-color:#4b8bb2 ;
  /*height: calc(100vh - 77px);*/
  position: relative;
}
.side-img img{
  width: 92%;
}
.container{
  padding: 0;
  margin: 0;
}
.zip-code-btn{
    border-radius: 2px 0 0 2px;
}
.customer-lookup-btn{
    border-radius: 0 2px 2px 0;
}
.customer-lookup-btn,
.zip-code-btn {
  font-weight: 400;
}
