

<div class="container-fluid">
    <br>
    <div class="row">
        <div class=" col-md-10 offset-md-1 ">
            <div class="row">
                <div class="col-md-4">
                    <div class="card1" routerLink="/capex-budget-pending">
                        <img src="./assets/pending.png" alt="">
                        <p class=" card-text "> Capex Pending <br>{{rqstSubmitted}} </p>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="card1 " routerLink="/capex-budget-approved">
                        <img src="./assets/validation.png " alt="">
                        <p class=" card-text "> Capex Approved <br> {{rqstApproved}} </p>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="card1" routerLink="/capex-budget-submit">
                        <img src="./assets/rejected.png " alt=" ">
                        <p class="card-text "> Capex Rejected <br>{{rqstRejected}} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row" style="height: 40px;">
        <div class=" col-md-6 offset-md-1 ">
          <p class="h">Capex Summary </p>
        </div>
      <div class=" col-md-4 ">
        <button class="buttn" routerLink="/capex-budget-pending">Go to Pending</button>
        <button  class="buttnnew" *ngIf="role === 'CPXSPADM'" (click)="gotoBudget()">New Capex &nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></button>
      </div>

      </div>

    <div class="row">

        <div class=" col-md-10 offset-md-1 ">

            <ag-grid-angular style="height: 400px;width: 106%;" class="ag-theme-balham" [scrollbarWidth]="8" [headerHeight]="35" [rowHeight]="50" (cellClicked)="onGridCellClicked($event)" [rowData]="rowData" [columnDefs]="columnDefs" enableCellTextSelection=true>
            </ag-grid-angular>
        </div>

    </div>


</div>
