
.btn{
  width: 160px;
  height:35px;
}

img{
  width: 65%;
  margin-bottom: 10%;
}
.card{
  width: 100%;
  padding: 10px;
}
.card .tittle{
  background-color: #d2d2d2;
}
md-slide-toggle.mat-primary:not(.mat-checked):not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: pink;
}

md-slide-toggle.mat-accent:not(.mat-checked):not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: yellow;
}
