p{
  font-size: 15px;
  margin-bottom: 0
}
.btn{
  width: 160px;
  height:35px;
}

img{
  width: 65%;
  margin-bottom: 10%;
}
.card{
  width: 100%;
  padding: 10px;
}
/*mat-form-field{*/
/*  background-color: white;*/
/*  height: 30px;*/
/*  border: #B8C0D4 1px ridge;*/
/*  border-radius: 5px;*/
/*  padding: 4px;*/
/*}*/

/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #6ea9d0;
}

/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #4b8bb2;
}
::ng-deep .mat-form-field-underline {
  display: none;
}
.add-change-prescription{
    border-radius: 2px;
}
.add-change-prescription p{
    font-weight: 300;
}
.btn{
    height: 38px;
    border-radius: 2px;
    font-size: 14px;
}
  .btn:hover {
    background-color: #3f51b5;
    color: #fff;
  }
