/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~ag-grid-community/styles//ag-grid.css";
@import "~ag-grid-community/styles//ag-theme-alpine.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

input {
  width: 100%;
  height: 30px;
  border-radius: 3px;
  border: #B8C0D4 solid 1px;
}

mat-select {
  background-color: white;
  height: 30px;
  border: #B8C0D4 1px ridge;
  border-radius: 5px;
  padding: 4px;
}

p{
  font-size:13px;
}

.ag-theme-alpine {
  --ag-row-border-color: rgba(0, 0, 0, 0.12);
  --ag-header-foreground-color: #3A4448;
  --ag-header-background-color: #D7DFE2;
}


.ag-header {
  border-radius: 5px;
  border-bottom: 0 !important;
  margin-bottom: 10px;
}
.side-img{
  background-color:#4b8bb2 ;
  /*height: calc(100vh - 77px);*/
  position: relative;

}
.container{
  max-width: 100% !important;
}
/*.mat-expansion-panel-body{*/
/* background-color: #4b8bb2;*/
/*  color: white;*/
/*}*/
.mat-expansion-panel{
  background:  #4b8bb2;
}
.mat-slider-wrapper{
  background-color: #ffe600;
}
.mat-slider-thumb{
  background-color: #ffe600 !important;
}
.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: white;
  padding: 0;
}
.mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 4px 4px 0 0;
  padding: 0em 0.75em 0 0.75em !important;
}
