/* You can add global styles to this file, and also import other style files */

@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-balham.css";

html,
body {
  height: 100%;
  font-family: 'Abel', sans-serif;;
}

body {
  margin: 0;
  font-family: 'Abel', sans-serif;
}

/*
router-outlet~* {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
} */


/* Style the list */

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #3a3a3a;
}


/* Display list items side by side */

ul.breadcrumb li {
  display: inline;
  color: rgb(255, 255, 255);
  font-size: 15px;
}


/* Add a slash symbol (/) before/behind each list item */

ul.breadcrumb li + li:before {
  padding: 4px;
  color: rgb(255, 255, 255);
  content: "/\00a0";
}


/* Add a color to all links inside the list */

ul.breadcrumb li a {
  color: #ffffff;
  text-decoration: none;
}


/* Add a color on mouse-over */

ul.breadcrumb li a:hover {
  color: #ffffff;
  text-decoration: underline;
}

a.active {
  color: rgb(221, 5, 5) !important;
  background-color: rgb(238, 238, 238) !important;
}

mat-icon.active-icon {
  color: #0e5ea3 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* Firefox */

input[type=number] {
  -moz-appearance: textfield;
}

.ag-body-viewport-wrapper.ag-layout-normal {
  overflow-x: scroll;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.custom-dialog-container .mat-dialog-container {
  /* add your styles */
  padding: 0 !important;
}

.mat-tab-body-content {
  overflow: hidden !important
}

::ng-deep.mat-tab-label,
::ng-deep.mat-tab-label-active {
  min-width: 0 !important;
  padding: 3px !important;
  margin: 3px !important;
}

.approve-button {
  background-color: limegreen;
  border-radius: 10px;;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Abel', sans-serif;
}

.mat-dialog-container {
  overflow: visible !important;
}


/* agm-map {
 height: 80vh;
} */

.ng-dropdown-panel .scroll-host {
  height: 100px !important;
}

.app-full-bleed-dialog .mat-dialog-container {
  padding: 0;
}

.success-snackbar {
  background-color: green !important;
}

.side-bar-item-capex:hover {
  background-color: #2683a2 !important;
  width: 100%;
}

.full-width {
  width: 100%;
}

button:focus {
  outline: none !important;
}

.material-icons {
  vertical-align: middle;
}

.card {
  box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  /*background-color: #aec8ff;*/
  width: 100%;
  height: 100%;
  /* border-radius: 20px; */
  border-radius: 12px;
  background-color: white;
}

.card2 {
  background-color: #cfd8dc !important;
}

.card-main {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  /*background-color: #aec8ff;*/
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.capex-headings {
  font-size: 30px;
  font-weight: 600;
  font-family: 'Abel', sans-serif;
}

.capex-headings-lite {
  font-size: 16px;
  font-family: 'Abel', sans-serif;
  font-weight: bold;
}

.dashboard-heading {
  color: #ffffff;
  display: inline;
  font-size: 30px;
  background-color: #0e5ea3;
  font-weight: 400;
  border-radius: 10px;
}

.screen-headings {
  background-color: #0e5ea3;
  padding: 7px;
  border-radius: 10px 10px 0 0;
  color: white;
  font-size: 20px;
  font-weight: 500;
  /* font-family: 'Abel', sans-serif; */
  font-family: 'Abel', sans-serif
}

.heading {
  font-size: 18px;
  font-family: 'Abel', sans-serif;
  font-weight: bold;
}

.popup-border {
  border: 2px solid cornflowerblue;
  border-radius: 20px;
}

.approve-button {
  background-color: limegreen;
  border-radius: 10px;;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Abel', sans-serif;
}

.reject-button {
  background-color: #ff2b3f;
  border-radius: 10px;;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Abel', sans-serif;
}

.ag-theme-balham .ag-row-selected {
  background-color: #aec8ff !important;
}

.ag-theme-balham .ag-header-row {
  background-color: #D5D5D5;
}

.request-button {
  background-color: cornflowerblue;
  border-radius: 10px;;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Abel', sans-serif;
}

.budgetNmbr-headings {
  padding: 7px;
  border-radius: 12px 12px 0 0;
  color: black;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Abel', sans-serif;
}

.io-dashboard-btn-toggle mat-button-toggle button span {
  line-height: 16px !important;
  padding: 9.5px !important;
  width: 100px;
}

.io-dashboard-btn-toggle {
  height: fit-content !important;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
}
/*.ag-cell-value, .ag-group-value{*/
/*  word-break: break-word;*/
/*  overflow: inherit;*/
/*  white-space: normal;*/
/*}*/
