/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";
html, body { height: 100%; }
body {
  /*font-family: 'Roboto Condensed', sans-serif;*/
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #fcfcfc !important;
  overflow-x: hidden;
}

input {
  width: 100%;
  height: 30px;
  border-radius: 2px;
  border: #B8C0D4 solid 1px;
}


mat-select {
  padding: 4px;
  line-height: 29px;
}
input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"],
mat-select {
  border: 0;
  border-bottom: 2px solid #005875;
  background-color: #F9F9F9;
  color: #4D4D4D
}
.mat-select-value {
  color: #4D4D4D;
}
.mat-raised-button:not([class*=mat-elevation-z]){
    box-shadow: none;
}
p, label {
  font-size: 16px;
}
p, button, select, textarea, input, .ag-theme-alpine, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif !important;
}
button{
    font-weight: 700;
}
h1, h2, h3, h4, h5, h6, .mat-h2, .mat-title, .mat-typography .mat-h2, .mat-typography .mat-title, .mat-typography h2 {
  font-family: 'Roboto Condensed', sans-serif !important;
}
.ag-theme-alpine {
  --ag-row-border-color: rgba(0, 0, 0, 0.12);
  --ag-header-foreground-color: #3A4448;
  --ag-header-background-color: #D7DFE2;
}


.ag-header {
  border-radius: 5px;
  border-bottom: 0 !important;
  margin-bottom: 10px;
}
.side-img{
  background-color:#4b8bb2 ;
  /*height: calc(100vh - 77px);*/
  position: relative;
  min-height:100vh

}
.container:not(.email-proposal-container) {
  max-width: 100% !important;
}
/*.mat-expansion-panel-body{*/
/* background-color: #4b8bb2;*/
/*  color: white;*/
/*}*/
.mat-expansion-panel{
  background:  #4b8bb2;
}
.mat-slider-wrapper{
  background-color: #ffe600;
}
.mat-slider-thumb{
  background-color: #ffe600 !important;
}
.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: white;
  padding: 0;
}
.mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 4px 4px 0 0;
  padding: 0em 0.75em 0 0.75em !important;
}
h1,h2,h3,h4,h5,h6{
  font-weight: normal;
  color: #252525;
}
p{
  font-size: 16px;
  color: #252525;
}
.btn{
  font-weight: 500 !important;
}
input[type="text"]:focus-visible,
input[type="password"]:focus-visible,
input[type="email"]:focus-visible,
input[type="number"]:focus-visible,
input[type="date"]:focus-visible,
input[type="tel"]:focus-visible,
select:focus-visible {
  outline: 0 !important;
  box-shadow: 0 0 4px rgba(75, 139, 178, .9);
}
input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"],
input[type="number"]
input[type="date"]
select,
mat-select {
  padding: 0 10px;
  height: 48px;
  border-radius: 0;
  font-size: 16px;
}
.mat-select-trigger{
    height: 100%;
}
.sidebar-content-wrapper .mat-tab-label-active {
  background: #3c6f8e;
  opacity: 1;
}
.sidebar-content-wrapper .mat-tab-label-active:after{
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-top: solid 5px rgba(255, 255, 255, 0.6);
  border-left: solid 5px transparent;
  border-right: solid 5px transparent;
}
.sidebar-content-wrapper .mat-tab-label {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}
.cdk-overlay-pane {
  max-width: 400px !important;
}
.mat-dialog-container {
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 6px;
  padding: 30px;
}
.mat-dialog-containercontainer {
  padding: 0 !important
}
.mat-raised-button{
    box-shadow: none;
}
button{
    font-size: 14px;
    font-weight: 300;
}
.plan-item-card {
  border: 0;
  border-radius: 0;
  box-shadow: 0 0 0 0 rgba(0,0,0,0.14), 0 2px 1px -3px rgba(0,0,0,0.12), 0 3px 8px 0 rgba(0,0,0,0.3);
}
.item-show-btn {
  color: #4b8bb2;
  font-size: 13px;
}
.ng-invalid-input {
  border: 1px solid #dc3545 !important;
  border-radius: 2px !important
}
.invalid-feedback {
  
}
.invalid-feedback {
  overflow: hidden;
  line-height: 14px;
  font-size: 12px;
}
.ag-cell-value, .ag-group-value{
    word-break: break-word;
    overflow: inherit;
    white-space: normal;
}
.action-btns {
  font-size: 21px;
  color: #3f51b5;
  cursor: pointer;
  margin-right: 10px;
}
.mat-tooltip {
  color: #111108 !important;
  background-color: #fcfceb;
  border: 1px solid #d0d0b3;
  font-size: 12px;
  transform-origin: unset !important;
  padding: 10px 15px;
  font-weight: 400;
}
  .mat-tooltip:after {
    content: "";
    border: 20px solid transparent;
    position: absolute;
    border-top-color: #a53d38;
    border-bottom: 0;
    bottom: -20px;
    left: 50%;
    margin-left: -20px;
  }
.popup-action {
  border-top: 1px solid #ddd;
  padding-top: 15px;
}
.green-check {
  font-size: 21px;
  margin-right: 5px;
  text-align: center;
  color: #12890e;
  font-weight: bold;
}
mat-option.mat-option, .mat-select-panel {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
.proposal-action-btns{
    display: flex;
    gap: 10px;
    width: auto;
    padding: 0;
    margin-left: 10px;
}
.proposal-action-btns button {
  border-radius: 2px;
  min-width: 50px;
  max-width: 50px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.proposal-action-btns button mat-icon{
    font-size: 18px;
    display: flex;
    align-items: center; justify-content: center;
}
button[color="primary"], .mat-raised-button.mat-primary, button[color="secondary"] {
  border-radius: 6px;
  min-height: 50px;
  box-shadow: none;
}
button[color="primary"],
button[color="secondary"] {
  font-weight: 500;
}
button[color="primary"], .mat-raised-button.mat-primary {
  background-color: #005875;
  border-color: transparent;
}
button[color="primary"]:hover, .mat-raised-button.mat-primary:hover{
    background: #002d3c;
    color: #fff;
}
button[color="secondary"], .mat-raised-button.mat-secondary{
    color: #005875;
    border: 1px solid #005875;
}
.container-box{
    box-shadow: 6px 6px 15px rgba(135, 135, 135, .35);
    border-radius: 6px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.mb-30{
    margin-bottom: 30px;
}
.page-main-action{
    border-top: 1px solid rgba(0, 0, 0, .15);
    margin-top: 20px;
    padding-top: 20px;
}
.mat-select-arrow {
   color: #005875;
}
.custom-table-wrapper{
    max-width: 1264px;
    padding: 0 15px;
    margin: 0 auto;
}
.custom-table-wrapper .ag-theme-alpine .ag-root-wrapper{
    border: 0 !important;
    border-radius: 6px;
}
.custom-table-wrapper .ag-theme-alpine .ag-header{
    border-radius: 6px 6px 0 0;
    background-color: rgba(0, 88, 117, .2)
}
.ag-theme-alpine .ag-row.ag-row-odd{
    background-color: #EAF0F2;
}
.custom-table-wrapper .ag-theme-alpine .ag-ltr .ag-cell{
    display: flex;
    align-items: center;
}
.custom-table-wrapper .ag-ltr .ag-header {
  margin-bottom: 0;
}
.custom-table-wrapper .ag-theme-alpine .ag-layout-auto-height .ag-center-cols-container,
.custom-table-wrapper .ag-theme-alpine .ag-layout-auto-height .ag-center-cols-clipper {
  min-height: inherit;
}
