.top-btns{
  width: 100%;
  border: none;
  height: 40px;
}

/*p{*/
/*  text-align: center;*/
/*}*/

mat-icon{
  color: black;
}
.sub-line{
  font-size: 11px;
  color: gray;
  margin-top: -12px;
  font-weight: 400;
}
.benefit-icon{
  border-radius: 50%;
}
.container{
  padding: 0;
  margin: 0;
  max-width: 100%;
  height: 100vh;
}

.lis{
  color: #3f51b5;
  font-weight: 500;
  margin-top: 10px;
  margin-right: 7px;
}
mat-select{
  margin-top: 5px;
}
.side-img{
  background-color:#4b8bb2 ;
  color: white;
}
.mat-icon-button{
  width: 86px;
}
.benfit-btn{
  font-size: 12px;
  width: 100%;
  text-align: left;
}
.premium .card{
  margin: 2px;
  height: auto;
  border: none;
  font-size: 15px;
}
.card{
  margin: 2px;
  height: auto;
}
.rate{
  font-weight: bold;
}
.component {
  position: relative;
}

.content {
  /* Your component styles here */
}

.sectionbtm {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 50%; /* Half of the component width */
  height: 70px;
  background-color: #4b8bb2;
  color: white;
  font-size: 20px;
  /* Your section styles here */
}
.comparebtn{
  color: black;
  background-color: white;
  margin-left: 10px;
  font-size: 12px;
}
.star-rating {
  font-size: 24px;
}

.star-rating span {
  display: inline-block;
  width: 24px;
  height: 20px;
  background-color: transparent;
  background-image: url('../../../assets/empty.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.star-rating span.filled {
  background-image: url('../../../assets/full.png');
}

.star-rating span.half-filled {
  background-image: url('../../../assets/half.png');
}
.clicked {
  background-color: #a6a7a6;
  color: white;
}
.benefit-icon{
  color: green;
}
.baseBenifit p{
  text-align: center;
}
.baseBenifit span{
  font-weight: bold;
}



/**/


.plan-head button{
  background-color: #777777;
  color: white;
  border: none;
  padding: 2px;
  height: 24px;
  width: 100px;
  font-size: initial;
}

.plan-head p {
  font-size: initial;
  font-weight: 500;
}

.base-dtl p {
  font-size: 22px;
  font-weight: lighter;
  line-height: 23px;
  pointer-events: none;
}
.base-dtl h2{
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 1px;
}
h6{
  font-size: 18px;
  margin-bottom: 10px;
  float: left;
  border-bottom: dashed 1px #ccc;
  font-weight: 500;
}
.sub-prop {
  display: block;
  margin-bottom: 8px;
  color: #252525 !important;
  font-size: 16px;
  font-weight: 100;
  line-height: normal;
}
.clear{
  clear: both;
}
bdo{
  display: block;
  margin-bottom: 4px;
  color: #252525 !important;
  font-size: 18px;
  font-weight: 400;
}
mat-button-toggle-group{
  width: 100%;
}
mat-button-toggle{
  width: 100%;
}
.selected {
  background-color: blue;
  color: white;
}
