<div class="container">
  <div class="d-flex">
    <div class="col-3 side-img">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-9 mt-2">
      <div class="p-2">
        <div class="d-flex justify-content-center" style="background-color: white">
          <div class="col-1">
            <button mat-icon-button color="primary">
              <mat-icon (click)="onMenuClicked()">menu</mat-icon>
            </button>
          </div>
          <div class="d-flex col-5 ">
            <button mat-icon-button color="primary">
              <mat-icon> location_on</mat-icon>
            </button>
            <form class="example-form mt-2">
              <input type="text" class="mat-in"
                     matInput
                     (input)="getCounties($event)"
                     (change)="zipChange()"
                     [formControl]="myControl"
                     [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete"
                                [displayWith]="_displayplantname">
                <mat-option *ngFor="let option of couties" [value]="option">
                  {{selectedCountie}}-{{option.name}},{{option.state}}
                </mat-option>
              </mat-autocomplete>
            </form>

          </div>
          <div class="col-3 d-flex">
            <p class="lis">LIS</p>
            <mat-select placeholder="LIS" value="none">
              <mat-option value="none">
                None
              </mat-option>
              <mat-option value="25">
                25%
              </mat-option>
              <mat-option value="50">
                50%
              </mat-option>
              <mat-option value="75">
                75%
              </mat-option>
              <mat-option value="100">
                100%
              </mat-option>
            </mat-select>
          </div>
          <div class="col justify-content-end">
            <button mat-icon-button color="primary"
                    style="float: right;background-color: #3c6f8e;border-radius: 0;color: white;width: 50px">
              <mat-icon> edit</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="p-2">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" (change)="planType($event)"
                                 [(ngModel)]="fontStyle">
          <mat-button-toggle value="MAPD">Medicare Advantage & Prescription plans</mat-button-toggle>
          <mat-button-toggle value="MA" ta>Medicare Advantage plans (Part C)</mat-button-toggle>
          <mat-button-toggle value="PDP">Prescriptions (Plan D)</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <!--          <div class="d-flex p-2">-->
      <!--                <div class="col-md-4">-->
      <!--                    <button class="top-btns" style="background-color: white">Medicare Advantage & Prescription plans-->
      <!--                    </button>-->
      <!--                </div>-->
      <!--                <div class="col-md-4">-->
      <!--                    <button class="top-btns">Medicare Advantage plans (Part C)</button>-->
      <!--                </div>-->
      <!--                <div class="col-md-4">-->
      <!--                    <button class="top-btns">Prescriptions (Plan D)</button>-->
      <!--                </div>-->
      <!--            </div>-->
      <div class="section p-2">
        <p class="p-2">Showing <span style="font-weight: bold;font-size: large">{{plans.length}}</span> of <span
          style="font-weight: bold;font-size: large">{{plans.length}}</span> Medicare Advantage &
          Prescription Plans</p>


        <div class="card" *ngFor="let plan of plans ; let i = index">
          <div class="row">
            <div class="col-9">
              <div class="row">
                <div class="col-2">
                  <img src="../../../assets/cigna.png" alt="" style="height: 100px;">
                </div>
                <div class="col-10 p-2 plan-head">
                  <h1 style="font-weight: 300;">{{plan.planName}}</h1>
                  <div class="d-flex">
                    <p>Plan ID:{{plan.planID}}</p>
                    <button class="ms-2">{{plan.planCategory}}</button>
                  </div>
                </div>
              </div>
              <mat-divider class="m-2"></mat-divider>
              <div class="row p-2 base-dtl">
                <div class="col">
                  <h2>Deductible</h2>
                  <p>{{plan.deductible}}</p>
                </div>
                <div class="col">
                  <h2>Max OOP</h2>
                  <p>{{plan.maxOop}}</p>
                </div>
                <div class="col">
                  <h2>Overall Star Rating</h2>
                  <div class="star-rating">
                                        <span *ngFor="let star of stars"
                                              [ngClass]="{'filled': star <= plan.overallstarRating, 'half-filled': star === plan.overallstarRating - 0.5}"></span>
                  </div>
                </div>
              </div>
              <div class="row p-2" *ngIf="plan.showmore">
                <div class="col s6 m4 l4">
                  <h6>Office Visits</h6>
                  <div class="clear"></div>
                  <span class="sub-prop">
    <bdo>Primary Care Visit </bdo>
                    {{plan.plancompare.preventiveCare}}
  </span>
                  <span class="sub-prop">
    <bdo>Specialist Visit</bdo>
                    {{plan.plancompare.preventiveCare}}
  </span>
                  <span class="sub-prop">
    <bdo>Preventive Care/Screening Immunization</bdo>
                    {{plan.plancompare.preventiveCare}}
</span>
                </div>
                <div class="col s6 m4 l4">
                  <h6>Emergency Services</h6>
                  <div class="clear"></div>
                  <span class="sub-prop">
    <bdo>Emergency Room</bdo>
                    {{plan.plancompare.preventiveCare}}
  </span>
                  <span class="sub-prop">
    <bdo>Urgent Care</bdo>
                    {{plan.plancompare.urgentCare}}
  </span>
                  <span class="sub-prop">
    <bdo>Ambulance</bdo>
                    {{plan.plancompare.ambulance}}
  </span>
                </div>
                <div class="col s6 m4 l4">
                  <h6>Outpatient Services</h6>
                  <div class="clear"></div>
                  <span class="sub-prop">
    <bdo>Facility Fees</bdo>
                    {{plan.plancompare.facilityFees}}
</span>
                  <span class="sub-prop">
    <bdo>Diagnostic Tests (x-ray, blood work)</bdo>
                    {{plan.plancompare.diagnosticTests}}
  </span>
                  <span class="sub-prop">
    <bdo>Skilled Nursing Care Cost Share</bdo>
                    {{plan.plancompare.skillednursingcareCost}}
  </span>
                </div>
              </div>
              <div class="d-flex col-12 justify-content-center p-2">
                <button mat-icon-button (click)="showMore(plan)" *ngIf="!plan.showmore">Show more
                  <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
              </div>
              <div class="d-flex col-12 justify-content-center p-2">
                <button mat-icon-button *ngIf="plan.showmore" (click)="showLess(plan)">Show Less
                  <mat-icon>keyboard_arrow_up</mat-icon>
                </button>
              </div>
              <div class="row p-2">
                <div class="col" *ngIf="plan.vision =='true'">
                  <button mat-icon-button class="benfit-btn">
                    <mat-icon class="benefit-icon">check_circle_outline</mat-icon>
                    Vision
                  </button>
                </div>
                <div class="col" *ngIf="plan.dental =='true'">
                  <button mat-icon-button class="benfit-btn">
                    <mat-icon class="benefit-icon">check_circle_outline</mat-icon>
                    Dental
                  </button>
                </div>
                <div class="col" *ngIf="plan.hearing =='true'">
                  <button mat-icon-button class="benfit-btn">
                    <mat-icon class="benefit-icon">check_circle_outline</mat-icon>
                    Hearing
                  </button>
                </div>
                <div class="col" *ngIf="plan.transportation =='true'">
                  <button mat-icon-button class="benfit-btn">
                    <mat-icon class="benefit-icon">check_circle_outline</mat-icon>
                    Transportation
                  </button>
                </div>
                <div class="col" *ngIf="plan.fitnessbenefits =='true'">
                  <button mat-icon-button class="benfit-btn">
                    <mat-icon class="benefit-icon">check_circle_outline</mat-icon>
                    Fitness benefits
                  </button>
                </div>
              </div>
              <div class="row p-2 " *ngIf="plan.benefits">
                <div class="col" *ngIf="plan.worldwideEmergency =='true'">
                  <button mat-icon-button class="benfit-btn">
                    <mat-icon class="benefit-icon">check_circle_outline</mat-icon>
                    Worldwide emergency
                  </button>
                </div>
                <div class="col add-benefit" *ngIf="plan.telehealth =='true'">
                  <button mat-icon-button class="benfit-btn">
                    <mat-icon class="benefit-icon">check_circle_outline</mat-icon>
                    Telehealth
                  </button>
                </div>
                <div class="col" *ngIf="plan.hearing =='true'">
                  <button mat-icon-button class="benfit-btn">
                    <mat-icon class="benefit-icon">check_circle_outline</mat-icon>
                    Hearing
                  </button>
                </div>
                <div class="col" *ngIf="plan.overthecounterdrugs =='true'">
                  <button mat-icon-button class="benfit-btn">
                    <mat-icon class="benefit-icon">check_circle_outline</mat-icon>
                    Over-the-counter drugs
                  </button>
                </div>
                <div class="col" *ngIf="plan.inhomesupport =='true'">
                  <button mat-icon-button class="benfit-btn">
                    <mat-icon class="benefit-icon">check_circle_outline</mat-icon>
                    In-home support
                  </button>
                </div>
                <div class="col" *ngIf="plan.homesafetydevicesmodifications =='true'">
                  <button mat-icon-button class="benfit-btn">
                    <mat-icon class="benefit-icon">check_circle_outline</mat-icon>
                    Home safety devices & modifications
                  </button>
                </div>
                <div class="col" *ngIf="plan.emergencyresponseDevice =='true'">
                  <button mat-icon-button class="benfit-btn">
                    <mat-icon class="benefit-icon">check_circle_outline</mat-icon>
                    Emergency response device
                  </button>
                </div>
              </div>
            </div>
            <div class="col-3 premium">
              <div class="card p-2">
                <div class="card-title">
                  <h2 style="font-size: large;text-align: right">Monthly Premium</h2>

                </div>
                <div class="p-2 justify-content-end" style="text-align: end">
                  <h2>${{plan.monthlypremium}}</h2>
                  <p>Orginal Rate:</p>
                  <h2>${{plan.orginalRate}}</h2>
                  <a href="">About this rate</a><br>
                  <p>Estimated Annual Cost</p>
                  <p>(Drug Cost + Premium)</p>
                  <h2>${{plan.orginalplanPremium}}</h2>
                  <a href="/drug-cost">Drug Cost Details</a><br>
                </div>
              </div>

            </div>
          </div>
          <div class="card-footer">
            <div class="d-flex">
              <div class="col-1 form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"
                       [(ngModel)]="plan.checked" (change)="onCheckboxChange(plan)">
                <label class="form-check-label" for="flexCheckChecked">
                  Compare
                </label>
              </div>
              <div class=" col-3 ms-2">
                <span class="d-flex justify-content-center" (click)="showOp(plan)">
                  <p>Optional Packages</p>
                  <mat-icon>keyboard_arrow_down</mat-icon>
                  </span>
              </div>
              <div class="col-1">
                <div class="dropdown">
                  <button class="btn  dropdown-toggle" style="padding: 0" type="button"
                          id="dropdownMenuButton1" data-bs-toggle="dropdown">
                    SBC
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">SBC</a></li>
                  </ul>
                </div>
              </div>
              <div class="d-flex col-2">
                <a (click)="benefitShow(plan)" style="color: blue;cursor: pointer">Additional
                  Benefits</a>
              </div>
              <div class=" d-flex col-2">
                <!--                <mat-icon id="eye" class="ms-2">remove_red_eye</mat-icon>-->
                <!--                <label  class="ms-2"> Additional Details</label>-->
                <button mat-raised-button>
                  <mat-icon>remove_red_eye</mat-icon>
                  Plan Details
                </button>
              </div>
              <div class=" d-flex col-3 justify-content-end">
                <button mat-raised-button color="primary" style="width:100%;"
                        [ngClass]="{'clicked': plan.cartAdded}" (click)="cart(plan)">Add to cart
                </button>
              </div>
            </div>
            <div class="card p-2" *ngIf="plan.optnpkShow">
              <div class="d-flex">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"> &nbsp;
                <label class="form-check-label" for="flexCheckChecked" style="font-weight: bold">
                  Package #1
                </label>
              </div>
              <p>Include preventive dental and comprehensive dental</p>
              <p>Monthly premium - <span class="rate">$28.50</span></p>
              <p>deductible - <span class="rate">$50</span></p>
            </div>
          </div>
        </div>


        <!--plan-tile-->

        <!--                <div class="card" *ngFor="let plan of plans ; let i = index">-->
        <!--                    <div class="d-flex">-->
        <!--                        <div class="col-9">-->
        <!--                            <div class="d-flex">-->
        <!--                                <div class="col-2">-->
        <!--                                    <img src="../../../assets/cigna.png" alt="" style="height: 70px;">-->
        <!--                                </div>-->
        <!--                                <div class="col-10 p-2">-->
        <!--                                    <h3 style="font-size: large">{{plan.name}} </h3>-->
        <!--                                    <p>(HMO) &nbsp; {{plan.category}} Medicare &nbsp; Plan ID:{{plan.contract_id}}-->
        <!--                                        -{{plan.plan_id}}-{{plan.segment_id}}</p>-->
        <!--                                </div>-->
        <!--                            </div>-->
        <!--                            <mat-divider></mat-divider>-->
        <!--                            <div class="d-flex baseBenifit mt-1">-->
        <!--                                <div class="d-flex col-4 justify-content-center">-->
        <!--                                    <p><span>Deductible</span> <Br> {{plan.annual_deductible}}</p>-->
        <!--                                </div>-->
        <!--                                <div class="d-flex col-4 justify-content-center">-->
        <!--                                    <p><span>Max OOP</span> <Br> {{plan.maximum_oopc}}</p>-->
        <!--                                </div>-->
        <!--                                <div class="col-4">-->
        <!--                                    <span>Overal Star Rating</span> <br>-->
        <!--                                    <div class="star-rating">-->
        <!--                                        <span *ngFor="let star of stars"-->
        <!--                                              [ngClass]="{'filled': star <= plan.overall_star_rating.rating, 'half-filled': star === plan.overall_star_rating.rating - 0.5}"></span>-->
        <!--                                    </div>-->
        <!--                                </div>-->
        <!--                            </div>-->
        <!--                            <div class="section p-2" *ngIf="plan.showmore">-->
        <!--                                <div class="row">-->
        <!--                                    <div class="col-4"><h3 style="font-weight: 500;">Office Visits</h3></div>-->
        <!--                                    <div class="col-4"><h3 style="font-weight: 500;">Emergency Services</h3></div>-->
        <!--                                    <div class="col-4"><h3 style="font-weight: 500;">Outpatient Services</h3></div>-->
        <!--                                </div>-->
        <!--                                <div class="d-flex">-->
        <!--                                    <div class="col-4">-->
        <!--                                        <h3>Primary care visit</h3>-->
        <!--                                        <p class="sub-line">In-network:{{plan.primary_doctor_visit_cost}} co-pay per-->
        <!--                                            visit</p>-->
        <!--                                    </div>-->
        <!--                                    <div class="col-4">-->
        <!--                                        <h3>Emergency Room</h3>-->
        <!--                                        <p class="sub-line">{{plan.emergency_care_cost}} co-pay per visit</p>-->
        <!--                                    </div>-->
        <!--                                    <div class="col-4">-->
        <!--                                        <h3>Facility Fees</h3>-->
        <!--                                    </div>-->
        <!--                                </div>-->
        <!--                                <div class="d-flex">-->
        <!--                                    <div class="col-4">-->
        <!--                                        <h3>Specialist Visit</h3>-->
        <!--                                        <p class="sub-line">{{plan.specialist_doctor_visit_cost}} co-pay per visit</p>-->
        <!--                                    </div>-->
        <!--                                    <div class="col-4">-->
        <!--                                        <h3>Urgent Care</h3>-->
        <!--                                        <p class="sub-line">$0 co-pay per visit</p>-->
        <!--                                    </div>-->
        <!--                                    <div class="col-4">-->
        <!--                                        <h3>Diagnostic Tests (x-ray, blood work)</h3>-->
        <!--                                    </div>-->
        <!--                                </div>-->
        <!--                                <div class="d-flex">-->
        <!--                                    <div class="col-4">-->
        <!--                                        <h3>Preventive Care/Screening Immunization</h3>-->
        <!--                                        <p class="sub-line">{{plan.BENEFIT_PREVENTIVE_CARE}} co-pay per visit</p>-->
        <!--                                    </div>-->
        <!--                                    <div class="col-4">-->
        <!--                                        <h3>Ambulance</h3>-->
        <!--                                        <p class="sub-line">$0 co-pay per visit</p>-->
        <!--                                    </div>-->
        <!--                                    <div class="col-4">-->
        <!--                                        <h3>Skilled Nursing Care Cost Share</h3>-->
        <!--                                        <p class="sub-line">$0 co-pay per visit</p>-->
        <!--                                    </div>-->
        <!--                                </div>-->
        <!--                            </div>-->
        <!--                            <div class="d-flex col-12 justify-content-center p-2">-->
        <!--                                <button mat-icon-button (click)="showMore(plan)" *ngIf="!plan.showmore">Show more-->
        <!--                                    <mat-icon>keyboard_arrow_down</mat-icon>-->
        <!--                                </button>-->
        <!--                            </div>-->
        <!--                            <div class="d-flex col-12 justify-content-center p-2">-->
        <!--                                <button mat-icon-button *ngIf="plan.showmore" (click)="showLess(plan)">Show Less-->
        <!--                                    <mat-icon>keyboard_arrow_up</mat-icon>-->
        <!--                                </button>-->
        <!--                            </div>-->
        <!--                            <div class="row p-2">-->
        <!--                                <div class="col">-->
        <!--                                    <button mat-icon-button class="benfit-btn">-->
        <!--                                        <mat-icon class="benefit-icon">check_circle_outline</mat-icon>-->
        <!--                                        Vision-->
        <!--                                    </button>-->
        <!--                                </div>-->
        <!--                                <div class="col">-->
        <!--                                    <button mat-icon-button class="benfit-btn">-->
        <!--                                        <mat-icon class="benefit-icon">check_circle_outline</mat-icon>-->
        <!--                                        Dental-->
        <!--                                    </button>-->
        <!--                                </div>-->
        <!--                                <div class="col">-->
        <!--                                    <button mat-icon-button class="benfit-btn">-->
        <!--                                        <mat-icon class="benefit-icon">check_circle_outline</mat-icon>-->
        <!--                                        Hearing-->
        <!--                                    </button>-->
        <!--                                </div>-->
        <!--                                <div class="col">-->
        <!--                                    <button mat-icon-button class="benfit-btn">-->
        <!--                                        <mat-icon class="benefit-icon">check_circle_outline</mat-icon>-->
        <!--                                        Transportation-->
        <!--                                    </button>-->
        <!--                                </div>-->
        <!--                                <div class="col">-->
        <!--                                    <button mat-icon-button class="benfit-btn">-->
        <!--                                        <mat-icon class="benefit-icon">check_circle_outline</mat-icon>-->
        <!--                                        Fitness benefits-->
        <!--                                    </button>-->
        <!--                                </div>-->
        <!--                            </div>-->

        <!--                            <div class="row p-2" *ngIf="plan.benefits">-->
        <!--                                <div class="col ms-2">-->
        <!--                                    <button mat-icon-button class="benfit-btn">-->
        <!--                                        <mat-icon class="benefit-icon">check_circle_outline</mat-icon>-->
        <!--                                        Worldwide emergency-->
        <!--                                    </button>-->
        <!--                                </div>-->
        <!--                                <div class="col">-->
        <!--                                    <button mat-icon-button class="benfit-btn">-->
        <!--                                        <mat-icon class="benefit-icon">check_circle_outline</mat-icon>-->
        <!--                                        Telehealth-->
        <!--                                    </button>-->
        <!--                                </div>-->
        <!--                                <div class="col">-->
        <!--                                    <button mat-icon-button class="benfit-btn">-->
        <!--                                        <mat-icon class="benefit-icon">check_circle_outline</mat-icon>-->
        <!--                                        Over-the-counter drugs-->
        <!--                                    </button>-->
        <!--                                </div>-->
        <!--                                <div class="col">-->
        <!--                                    <button mat-icon-button class="benfit-btn">-->
        <!--                                        <mat-icon class="benefit-icon">check_circle_outline</mat-icon>-->
        <!--                                        In-home support-->
        <!--                                    </button>-->
        <!--                                </div>-->
        <!--                                <div class="col">-->
        <!--                                    <button mat-icon-button class="benfit-btn">-->
        <!--                                        <mat-icon class="benefit-icon">check_circle_outline</mat-icon>-->
        <!--                                        Emergency response-->
        <!--                                    </button>-->
        <!--                                </div>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                        <div class="col-3">-->
        <!--                            <div class="card p-2">-->
        <!--                                <div class="card-title">-->
        <!--                                    <p align="right"><span-->
        <!--                                            style="font-size: large;font-weight: bolder;text-align: right">Monthly Premium</span>-->
        <!--                                    </p>-->
        <!--                                </div>-->
        <!--                                <div class="p-2 justify-content-end" style="text-align: end">-->
        <!--                                    <p><span-->
        <!--                                            style="font-size: large;font-weight: bolder;text-align: right">${{plan.calculated_monthly_premium}}</span>-->
        <!--                                    </p>-->
        <!--                                    <p>Orginal Rate:</p>-->
        <!--                                    <p>${{plan.calculated_monthly_premium}}</p>-->
        <!--                                    <a href="">About this rate</a><br>-->
        <!--                                    <p>Estimated Annual Cost</p>-->
        <!--                                    <p>(Drug Cost + Premium)</p>-->
        <!--                                    <p><span-->
        <!--                                            style="font-size: large;font-weight: bolder;text-align: right">${{plan.annual_drugs_total}}</span>-->
        <!--                                    </p>-->
        <!--                                    <a href="/drug-cost">Drug Cost Details</a><br>-->
        <!--                                </div>-->
        <!--                            </div>-->
        <!--                        </div>-->

        <!--                    </div>-->
        <!--                    <div class="card-footer">-->
        <!--                        <div class="d-flex">-->
        <!--                            <div class="col-1 form-check">-->
        <!--                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"-->
        <!--                                       [(ngModel)]="plan.checked" (change)="onCheckboxChange(plan)">-->
        <!--                                <label class="form-check-label" for="flexCheckChecked">-->
        <!--                                    Compare-->
        <!--                                </label>-->
        <!--                            </div>-->
        <!--                            <div class=" col-3 ms-2">-->
        <!--                <span class="d-flex justify-content-center" (click)="showOp(plan)">-->
        <!--                  <p>Optional Packages</p>-->
        <!--                  <mat-icon>keyboard_arrow_down</mat-icon>-->
        <!--                  </span>-->
        <!--                            </div>-->
        <!--                            <div class="col-1">-->
        <!--                                <div class="dropdown">-->
        <!--                                    <button class="btn  dropdown-toggle" style="padding: 0" type="button"-->
        <!--                                            id="dropdownMenuButton1" data-bs-toggle="dropdown">-->
        <!--                                        SBC-->
        <!--                                    </button>-->
        <!--                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">-->
        <!--                                        <li><a class="dropdown-item" href="#">SBC</a></li>-->
        <!--                                    </ul>-->
        <!--                                </div>-->
        <!--                            </div>-->
        <!--                            <div class="d-flex col-2">-->
        <!--                                <a (click)="benefitShow(plan)" style="color: blue;cursor: pointer">Additional-->
        <!--                                    Benefits</a>-->
        <!--                            </div>-->
        <!--                            <div class=" d-flex col-2">-->
        <!--                                &lt;!&ndash;                <mat-icon id="eye" class="ms-2">remove_red_eye</mat-icon>&ndash;&gt;-->
        <!--                                &lt;!&ndash;                <label  class="ms-2"> Additional Details</label>&ndash;&gt;-->
        <!--                                <button mat-raised-button>-->
        <!--                                    <mat-icon>remove_red_eye</mat-icon>-->
        <!--                                    Plan Details-->
        <!--                                </button>-->
        <!--                            </div>-->
        <!--                            <div class=" d-flex col-3 justify-content-end">-->
        <!--                                <button mat-raised-button color="primary" style="width:100%;"-->
        <!--                                        [ngClass]="{'clicked': plan.cartAdded}" (click)="cart(plan)">Add to cart-->
        <!--                                </button>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                        <div class="card p-2" *ngIf="plan.optnpkShow">-->
        <!--                            <div class="d-flex">-->
        <!--                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"> &nbsp;-->
        <!--                                <label class="form-check-label" for="flexCheckChecked" style="font-weight: bold">-->
        <!--                                    Package #1-->
        <!--                                </label>-->
        <!--                            </div>-->
        <!--                            <p>Include preventive dental and comprehensive dental</p>-->
        <!--                            <p>Monthly premium - <span class="rate">$28.50</span></p>-->
        <!--                            <p>deductible - <span class="rate">$50</span></p>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->

      </div>


      <div class="sectionbtm" *ngIf="isChecked">
        <!-- Your section content here -->
        <div class="d-flex p-2">
          <div class="col-6">
            {{this.checkedData.length}} Plans selected for comparison
          </div>
          <div class="d-flex col-6 justify-content-end">
            <button mat-button class="comparebtn">
              <mat-icon> clear_all</mat-icon>
              Clear
            </button>
            <button mat-button class="comparebtn">
              <mat-icon>compare</mat-icon>
              Compare Plans
            </button>
          </div>
        </div>
      </div>

      <ng-template #Zipchange>
        <div class="container-fluid">
          <h3 style="font-size: 18px;">
            Would you like to select pharmacies from the county that is associated with the entered ZIP Code?</h3>
          <div class="d-flex p-2 justify-content-end">
            <button mat-raised-button class="p-2 me-2" style="font-size: 15px" (click)="cancel()">No</button>
            <button mat-raised-button class="p-2" color="primary" style="font-size: 15px" (click)="prescription()">Yes
            </button>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
